[2021-01-20 14:57] #1648 closed

[2021-01-21 00:09] seemon2 commented on #1647
hi .. I am a NOOBS on animation node.

Any help how to add Bevel Width to the spline??
I found there's node for Bevel Edge node but it only accept "mesh" .. but I
think the spline is curve?
Your advise please.

On Wed, Jan 20, 2021 at 10:30 PM Kuldeep Singh <notifications@github.com>
wrote:

[2021-01-21 02:00] seemon2 commented on #1647
Hi Kuldeep,
I think I found the answer ..
[image: image.png]

see effect on final output .. hmm wonder how to change each spline with
different colors? created from different vertices .. which I saw in your
final demo.

[image: image.png]

On Thu, Jan 21, 2021 at 11:09 AM Simon Chong <sschong00@gmail.com> wrote:

[2021-01-21 05:04] airsupairsup opened #1649 "The animation node guide is missing node images and an image with examples."
Dear developers, please add node images and usage examples to the animation node documentation. In the old documentation was, and images and examples of usage. It is very difficult for a beginner to understand how nodes work without examples. Thanks.

[2021-01-21 07:09] OmarEmaraDev commented on #1649
See https://github.com/JacquesLucke/animation_nodes_manual/issues/80.

[2021-01-21 07:09] #1649 closed

[2021-01-22 12:33] #1609 closed

[2021-01-23 17:06] #1638 closed

[2021-01-23 17:07] OmarEmaraDev commented on #1647
I guess this is resolved. Feel free to reopen if needed.

[2021-01-23 17:07] #1647 closed

[2021-01-23 23:34] Gerstmann-Bradley opened #1652 "Object attribute output will eliminate animation of the object in render."
The reported Issue **only occurs in render**.

**Condition A**: If I have keyframed the Object A and used "object attribute output" node to set any attribute of this Object A, upon render, the Object A will stay in the place throughout the render.
**Condition B**: In addition, if Object A has a parent of Object B, and I have keyframed Object B to move the Object A. The Object A will still stay in

[2021-01-26 21:53] OmarEmaraDev commented on #1639
I will probably update to the noise library directly as I don't like the wiggle code we have at the moment and can't work with it.

[2021-01-28 14:09] 8BitsGotBite opened #1653 "Working with multiple scenes - Mesh does carry over but modifiers are ignored even with the setting active"
I have a blend file with multiple scenes inside. In scene #1 I manipulate an object and apply modifiers to it. Then I want to grab the mesh component with animation nodes for scene #2, manipulate it further and eventually output it into a new object. The basic mesh carries over fine but modifiers are ignored even when the setting is active in the "Mesh Object Input" node. The hidden "Scene" option

[2021-01-28 14:35] OmarEmaraDev commented on #1653
Unfortunately, this is a Blender limitations. The *Use Modifiers* option only accounts for **evaluated** modifiers. Blender doesn't evaluate the modifiers on objects that are not part of the active scene or not enabled in the current view layer. So there is currently no way to do that in Blender. Though Geometry Nodes (GN) might open up some possibilities in that regard, and we might work on integ

[2021-01-28 14:35] #1653 closed

[2021-01-28 15:41] 8BitsGotBite commented on #1653
Thanks for clearing that up for me so fast. Have to work around this limitation then and keeping my fingers crossed for that AN/GN integration. Sounds like a dream coming true ^^.

[2021-01-28 22:28] Gerstmann-Bradley commented on #1652
Any thoughts? @OmarEmaraDev
I wonder if this is a bug or blender limitation.

[2021-01-29 08:07] OmarEmaraDev commented on #1652
My apologies, I missed this report. I will take a look.

[2021-01-29 08:40] OmarEmaraDev commented on #1652
Seems to be [T71908](https://developer.blender.org/T71908). So I guess there isn't much we can do for now until this is resolved.

[2021-01-29 08:44] Gerstmann-Bradley commented on #1652
I see. No problem.
The current workaround is to use AN to drive the motion of object, this isn't too troublesome/urgent at the moment.
Thanks for the feedback!

[2021-01-29 08:44] #1652 closed

[2021-02-01 15:56] filibusterpie opened #1654 "MIDI nodes incorrectly report MIDI file as empty"
Using AN experimental build 2.2.2, accessed Jan 31. Using Blender 2.92.0 Beta.

The MIDI file is an isolated vocal part exported from 6-part piece in MuseScore3. Verified MIDI file contents via Audacity. All channels in the MIDI nodes output 0.

![MIDI-1part](https://user-images.githubusercontent.com/70381900/106482299-52edc000-647b-11eb-8445-a5b26a57b230.png)
![MIDI-audacity](https://user-images.

[2021-02-01 17:48] OmarEmaraDev commented on #1654
@filibusterpie Can you share that file?

[2021-02-01 18:26] filibusterpie commented on #1654
Yup! Here's the blend and MIDI files.

[AN_musicMIDI_github.zip](https://github.com/JacquesLucke/animation_nodes/files/5905860/AN_musicMIDI_github.zip)

[2021-02-01 18:29] filibusterpie commented on #1654
I'm also having problems with MIDI timing on the track that does work, but I'll test + open a new thread if need be. It might stem from my music notation skill (low)..

[2021-02-01 18:50] OmarEmaraDev commented on #1654
@filibusterpie The files in question are of MIDI format 1. The standard specify that the first track in this format is a tempo track that only contains tempo events with no notes. That's why Animation Nodes seemingly ignored that track. However, looking at the first track in the files, apparently they also contains note events. This might also explain why the timing is off. Also notice that in the

[2021-02-01 19:29] OmarEmaraDev commented on #1654
Alright. So apparently, the standard is not very clear about that. It only states that tempo events can only happen in the first track of format 1 files, it doesn't state that no other events can happen in that track. However, the established industry convection is to reserve the first track for tempo events only. Which is what Animation Nodes does and expects. MuseScore, however, doesn't adhere t

[2021-02-01 20:52] filibusterpie commented on #1654
Ah alright then! I added a blank track on top in MuseScore - I'll leave that to designate tempo. Soprano is now accessible in AllVoiceParts, and single voice parts should work if the blank part is exported as well. I'll write a note to self re: keeping blank line for future MuseScore creations. Thanks for your help!

[2021-02-01 20:52] filibusterpie commented on #1654
I'll test the timing with adjusted MuseScore file.

[2021-02-03 05:13] drewp opened #1656 "big scene not using AN still gets bogged down with large selection lists"
Scene with 50k paths in it (svg import) is unusable when I select all. Blender constantly pauses for minutes or more. py-spy has this report:

sudo py-spy top -p {blenderpid}

[code]

[2021-02-03 07:14] OmarEmaraDev commented on #1656
I see. We recently disabled selection sorting if AN is not used in 7891b8e. But it seems selection sorting in an always hander is not a good idea at all. We will probably disable that and find an alternative solution.

Thanks for the report!

[2021-02-03 10:56] Patochun commented on #1654
@OmarEmaraDev , I agree with you, the standard is not very clear about the exclusive use of track 1 for tempo only.

[2021-02-03 15:00] Clockmender commented on #1654
Hi Chaps,

Sorry. Ian a little late getting in on this topic, various issues...

Anyway, are you aware that a MIDI file may also contain multiple tempo lines? Here is an example:

<img width="431" alt="Screenshot 2021-02-03 at 14 42 24" src="https://user-images.githubusercontent.com/29657804/106762848-23cb8000-662e-11eb-94c1-d1acd3f5463a.png">

This is Tocata & Fuge, if you were wondering, there a

[2021-02-03 15:23] OmarEmaraDev commented on #1654
Hi @Clockmender, we do take into account multiple tempo changes and we construct a temp map from all of them. Though we completely ignore "Time Signature" events, are those important for our use case? What do they define exactly?

I have been trying to look into MuseScore's source code, but they seem to be in the process of porting code across versions or something like that, so the code is not re

[2021-02-03 15:31] Clockmender commented on #1654
Time signature effects the beat timing... So 4:4 is one beat per bar, 4:2 is 2 beats per bar (4 half beats per bar), not sure if that is relevant to beat timing/sound file syncing, I will do some tests, I know I had to read and account for it in my code, but just now I am not sure _**why**_ I had to, it was a long time ago!

Leave it with me, I'll get back to you.

I would ignore SMPTE timecode, s

[2021-02-09 23:42] Gerstmann-Bradley opened #1657 "Duplicate nodes of the same functions? "repeat list" & "repeat list element""
An accidental finding.
The newer "repeat list" node can "repeat list element" node by 100%, can't it?
![image](https://user-images.githubusercontent.com/55994236/107443191-5da4f680-6b06-11eb-929d-06944758132d.png)
![image](https://user-images.githubusercontent.com/55994236/107443378-b5436200-6b06-11eb-92ba-323ff45af668.png)

[2021-02-09 23:45] Gerstmann-Bradley commented on #1657
Sorry, my bad, I get the idea of these two nodes.

[2021-02-09 23:45] #1657 closed

[2021-02-10 08:54] OmarEmaraDev commented on #1656
Done in 0f1764e. Thanks again for the report!

[2021-02-10 08:54] #1656 closed

[2021-02-11 10:48] Gerstmann-Bradley opened #1658 "Proposal: be able to set plane for "distribute circle""
The circle is generated in XY plane. it perhaps will be more convenient if we can set it to other like XZ/YZ plane.
This maybe a minor thing since you can accomplish with two additional nodes, but as the time goes I think it would be more convenient to set it at the first place without additional nodes.
What do you think?

[2021-02-11 12:57] OmarEmaraDev commented on #1658
I think that's fine. I will leave this as a good first contribution.

[2021-02-12 16:23] #1658 closed

[2021-02-13 21:01] OmarEmaraDev commented on #1654
I submitted a patch upstream in https://github.com/musescore/MuseScore/pull/7523.

[2021-02-14 09:27] #1618 closed

[2021-02-14 15:55] imacj opened #1661 "Expression node disconnects output to Animate Float input when saving and opening on different OSes"
Hi,

I primarily run Blender on my Macbook Pro running 10.15 Catalina and Blender 2.91.2 and have recently been using a new Windows 10 machine running Blender 2.91.2 for some of my Blender work.

I have the latest Animation build installed on both computers, 2.2.2.

Here is my basic node setup for the test scene, an expression node with the output connected to the inputs of almost all of the Anima

[2021-02-14 17:03] OmarEmaraDev commented on #1661
This is actually a problem across versions. The Mac screenshot uses a more modern AN version, in that version we changed some things in the Animate node that was backward incompatible. If you open the terminal, Animation Nodes will tell you about such changes to do the node tree so that you can correct them.

[2021-02-14 17:03] #1661 closed

[2021-02-14 18:07] stephenthomas0 opened #1662 "Character Properties Output not updating for render"
I have a project file using Animation Nodes that spans several scenes, each node tree is associated to a particular scene, but they all use the Invoke Subprogram node which is in its own node tree in the first scene. After adding the third scene, the 'Character Properties Output' stopped updating when rendering the animation (it's being used to change the Material Index for some characters). It wo

[2021-02-14 20:00] OmarEmaraDev commented on #1662
This is probably not a bug, but rather an ambiguity in the order of execution of nodes. The problematic part of the node tree is this one:

![20210214-215005](https://user-images.githubusercontent.com/25300994/107887340-1ce61c80-6f0e-11eb-9d43-e835cd2a0bc0.png)

Those nodes don't dependent on each other, and you gave no indication of which node should be executed first. So Animation Nodes makes an

[2021-02-14 20:07] stephenthomas0 commented on #1662
Ah, that makes sense, thanks Omar, have made the change and can confirm that it now works. I'm quite new to Animation Nodes so I'm still figuring these things out.

Thank you, glad you like it. Needed to organise it well so I could keep track of what's happening where. Really like what you're doing with this, really really nice tool 😊

[2021-02-14 20:07] #1662 closed

[2021-02-15 09:49] luckychris opened #1663 "cannot install animation nodes + extra nodes"
I have no problem installing animation nodes. It just happens if i try to install animation nodes + extra nodes from here https://blender.community/c/graphicall/phbbbc/.

The error is: unsafe use of relative rpath libz.1.dylib in .....

I am using a Macbook Pro with MacOS Big Sur.
Blender 2.93 alpha (from yesterday)

[2021-02-15 10:53] OmarEmaraDev commented on #1663
Extra nodes is not an AN extension, it is an AN fork. You can't install both at the same time.

[2021-02-15 11:02] luckychris commented on #1663
i did not install it both. I just wanted to mention, that AN alone works. Hoped that might help you find the problem.

[2021-02-15 11:08] OmarEmaraDev commented on #1663
Ah I see. I though you meant you installed both at the same time. You should report this in https://github.com/3DSinghVFX/animation_nodes instead.

[2021-02-15 11:08] #1663 closed

[2021-02-15 11:13] luckychris commented on #1663
oh sorry, i will

[2021-02-17 03:59] enzyme69 opened #1666 "Animation Nodes cannot be installed on Blender 2.92, 2.93 none"
<img width="658" alt="Screen Shot 2021-02-17 at 2 58 31 pm" src="https://user-images.githubusercontent.com/3952687/108154238-ad03ac00-7130-11eb-8fef-394f441be71f.png">

I am on Mac, I cannot seem to be able to install Animation Nodes 2.92 and up.

Latest one complaint that I need to use 2.93, but 2.93 is weird right now I cannot install AN, SV, maybe Python difference....

[2021-02-17 10:01] OmarEmaraDev commented on #1666
I believe the MacOS issues were already solved and new builds should work, see T85624.

[2021-02-17 12:48] gameLvr85 commented on #1666
I am getting the same error on windows, cannot install on blender v29.1.2/2.92. Asking for v2.93.

[2021-02-17 13:32] OmarEmaraDev commented on #1666
@gameLvr85 We no longer make daily builds for Python 3.7 and Blender 2.91/2.92. Either use non-daily builds of AN or use daily 2.93 Blender builds.

[2021-02-17 18:20] OmarEmaraDev commented on #1666
We added back Python 3.7 builds for Blender 2.91/2.92 in the website. But those builds will no longer be updated.

[2021-02-17 18:20] #1666 closed

[2021-02-18 18:08] procedural opened #1667 "Convert a text to a vector, a list of integers?"
Anyone knows how to convert a text with 3 floats to a vector? Can't figure out the syntax, for some reason, I get "Conversion Failed".

![](https://user-images.githubusercontent.com/28234322/108401300-42846600-722d-11eb-8008-98b8d86266c9.png)

[2021-02-18 18:15] procedural commented on #1667
Also, a list of integers?...

![](https://user-images.githubusercontent.com/28234322/108402350-6c8a5800-722e-11eb-8913-e541595f9934.png)

[2021-02-18 18:18] procedural commented on #1667
AN 2.1, Blender 2.83.12 LTS

[2021-02-18 18:20] OmarEmaraDev commented on #1667
The convert node doesn't know how to do that. You have to parse the string yourself. One way to do that is as follows:

![20210218-202358](https://user-images.githubusercontent.com/25300994/108402839-b66f4000-7226-11eb-88b3-0ab17efd2e9a.png)

[2021-02-18 18:26] procedural commented on #1667
I see, thanks!

Will it be added in future, or I can close this issue?

[2021-02-18 18:28] procedural commented on #1667
Also, would be cool if on unsupported conversion types it'd said "Unsupported Type" instead of "Conversion Failed", or not list them at all...

[2021-02-18 18:29] OmarEmaraDev commented on #1667
It will not be added, such conversion is too specific to implement as a general conversion rule.

[2021-02-18 18:32] procedural commented on #1667
Isn't a text with numbers to a list of AN numbers is a common conversion case, though?

[2021-02-18 18:40] OmarEmaraDev commented on #1667
I wouldn't consider it so. How about using other delimiters like `(1, 2, 3)`, `(1 2 3)`, or `1 2 3`? There are many ways to represent a list of numbers in text, Animation Nodes doesn't know about any of them, so we will need to check if the text satisfy any of them, then parse it accordingly. Hence why I said it is too specific. Moreover, the Convert node does conversion, not parsing, so something

[2021-02-18 18:57] procedural commented on #1667
I see, thanks! Closing then.

[2021-02-18 18:57] #1667 closed

[2021-02-19 12:55] sjonsjine opened #1668 "Crashes when rendering animation! UI bug??"
Hi, whenever I start with Animation Nodes again, I've seem to have forgotten how often it crashes when rendering an animation. Sometimes after 5, sometimes after 25 frames. Today I found a workaround https://www.youtube.com/watch?v=JfuQPWzVN9k&t=4s but my question is, can this be solved? This bug is here already for years! Using latest AN version and Blender 2.912

Thanks! Really thanks a lot!!

F

[2021-02-19 13:08] OmarEmaraDev commented on #1668
You can solve it by locking the interface. Other than that, I am afraid we can't do anything about it.

[2021-02-20 02:51] imacj commented on #1200
Not sure if anyone has suggested this, but baking the keyframes for each node tree and then disabling the node trees did the trick for me!

[2021-02-20 16:44] OmarEmaraDev commented on #1607
Implemented in Blender in [D10354](https://developer.blender.org/D10354) and incorporated in Animation Nodes in 7328e0b. We also took the opportunity to implement modifier evaluation for splines, which is now allowed in Animation Nodes.

Thanks for the suggestion!

[2021-02-20 16:44] #1607 closed

[2021-02-20 16:52] OmarEmaraDev commented on #863
It is now possible to apply spline modifiers since 7328e0b.

[2021-02-20 16:52] OmarEmaraDev commented on #711
It is now possible to apply spline modifiers in 7328e0b.

[2021-02-20 16:53] OmarEmaraDev commented on #648
It is now possible to apply spline modifiers in 7328e0b.

[2021-02-21 03:52] enzyme69 commented on #1240
Stuck in Limbo here, Omar.

Installing on 2.92: Animation Nodes requires minimum 2.93.!! What?

But latest 2.93 all failed to install AN or SV for that matters. Then I can't really use Animation Nodes.

<img width="1246" alt="Screen Shot 2021-02-21 at 2 51 27 pm" src="https://user-images.githubusercontent.com/3952687/108615061-4cd47900-7454-11eb-9c80-54efcb48b4b0.png">

<img width="681" alt="Scree

[2021-02-21 03:57] enzyme69 commented on #1666
<img width="1353" alt="Screen Shot 2021-02-21 at 2 56 09 pm" src="https://user-images.githubusercontent.com/3952687/108615145-29f69480-7455-11eb-9a91-2a90908c63e9.png">

Ok this works.... 2.92 then.

[2021-02-21 03:59] enzyme69 commented on #1240
As for today I can install into 2.92 RC and Mac. Thanks Omar!
https://github.com/JacquesLucke/animation_nodes/issues/1666

[2021-02-21 13:15] VladFromRomania commented on #1607
thank you for taking this request into consideration!

[2021-02-23 14:10] OmarEmaraDev commented on #1668
See #1585.

[2021-02-23 14:10] #1668 closed

[2021-02-24 11:37] Dihotom opened #1669 "Text (trim) animation do not update while rendering"
Text animation do not update while rendering both cycles and eevee in blender 2.92, but works fine in 2.83-2.91 and 2.93. here is example
[text_render.zip](https://github.com/JacquesLucke/animation_nodes/files/6035610/text_render.zip)

[2021-02-24 12:21] OmarEmaraDev commented on #1669
If it works fine in the latest version (2.93), then there probably isn't much we can do. 2.92 is already in a very late BCon phase.

[2021-02-26 19:56] #1669 closed

[2021-03-01 08:39] aungphyop2017 opened #1670 "Error in Installation"
Hi there,

I could not install the animation_nodes properly even though I have installed vc_redist.x64 on my computer. Report: Error describes **"there are multiple versions of add on installed"**.  But I could not file any duplicated versions in the file path. Let me know how I can solve this issue.

![Animation_nodes_installation_error](https://user-images.githubusercontent.com/79825572/10947125

[2021-03-01 08:47] OmarEmaraDev commented on #1670
I can't access that drive link.
Are there any addons with a name containing `animation` and `nodes` at the same time? Even if it doesn't exactly match `animation_nodes`.

[2021-03-01 10:36] aungphyop2017 commented on #1670
Dear Omar Emara,

I have only addons below. How shall I do? Can I change the name of zipped
file? Thanks for your kind support!
[image: image.png]

[image: image.png]

On Mon, Mar 1, 2021 at 3:18 PM Omar Emara <notifications@github.com> wrote:

[2021-03-01 10:48] OmarEmaraDev commented on #1670
I can't see those images. You have to add the images in Github, not email.

[2021-03-01 10:49] aungphyop2017 commented on #1670
Ok, I will check.

On Mon, 1 Mar 2021, 17:18 Omar Emara, <notifications@github.com> wrote:

[2021-03-01 23:36] Gerstmann-Bradley opened #1671 "Proposal: Vectorize "transform" series of nodes"
**Not an urgent proposal**. But I think it will very useful to have these at some point.
Also it seems if people don't propose, certain development will never be made...

**In terms of priority, I mostly recommend "Vector" & "Spline"**;
and "matrix" will be the least to consider since we have "offset matrices".
(To rotate vectors, we can only use transform, or do a double conversion and then borro

[2021-03-03 10:34] aungphyop2017 commented on #1670
![Uploading Animation_nodes_installation_error.png…]()

Please check it.

[2021-03-03 10:51] aungphyop2017 commented on #1670
![Uploading ani_nodes_error_2.jpg…]()

[2021-03-03 10:51] aungphyop2017 commented on #1670
![ani_nodes_error](https://user-images.githubusercontent.com/79825572/109795068-e7973980-7c44-11eb-8a06-4ca3d05a60ec.jpg)

[2021-03-03 10:55] OmarEmaraDev commented on #1670
I meant inside the addon directory where Animation Nodes is installed. Are there any files/folders with a similar name?

[2021-03-03 10:57] aungphyop2017 commented on #1670
No, it doesn't.

On Wed, 3 Mar 2021, 17:25 Omar Emara, <notifications@github.com> wrote:

[2021-03-03 10:59] OmarEmaraDev commented on #1670
There are multiple locations where an add-on can be stored. Can you check all of them?
https://docs.blender.org/manual/en/latest/advanced/blender_directory_layout.html

[2021-03-03 11:22] aungphyop2017 commented on #1670
Thanks, I'll check them out.

On Wed, 3 Mar 2021, 17:29 Omar Emara, <notifications@github.com> wrote:

[2021-03-06 00:04] deimidis commented on #1240
I had the same problem. Manjaro install Blender 2.92 with Python 3.9. I tried to compile AN it myself and it worked, but ask me for blender 2.93. Is there a place where I can change than number version to add 2.92?

Thanks!

[2021-03-06 08:37] OmarEmaraDev commented on #1240
@deimidis https://github.com/JacquesLucke/animation_nodes/blob/master/animation_nodes/__init__.py#L94

[2021-03-06 21:02] deimidis commented on #1240
Thanks @OmarEmaraDev Compilation worked and now it didn't complain about the version, but I have this error:

`AttributeError: module 'bpy.props' has no attribute '_PropertyDeferred'`

I imagine that's because that property is new to the API on 2.93. Is there any way in which I can compile a version for 2.92 with Python 3.9?

Thanks!

[2021-03-07 05:07] OmarEmaraDev commented on #1240
@deimidis You can revert 4b0f5f8d.

[2021-03-07 22:31] deimidis commented on #1240
It passed that problem, but there were other one:

`ValueError: bpy_struct "an_FontSocket"registration error: display could not register`

Don't worry, I will wait until versions get aligned.

Thanks!

[2021-03-09 01:27] L33t-HAXXOR opened #1673 "Animation Nodes Crashed Somehow"
I tried adding a Vector List Math to a noodle going from a Construct Interpolation to a Map Range

The node will appear to work but my animation is no longer triggering
I've tried re-instancing the one object in the scene, reconnecting nodes and reverting to a previous save but nothing has worked.

The Developer panel instructions won't print to the console but give traceback errors. Screenshots a

[2021-03-10 21:24] karlisstigis opened #1674 "Create Object List From Selection"
Create Object List nodes "From Selection" feature does not work as expected.
Previously it took into account the order in which the objects were selected, but now it's not the case.
It seems it does it randomly or by name, I don't know, but it's not in order of selection.

[2021-03-10 22:01] OmarEmaraDev commented on #1674
Unfortunately, we had to remove the ordered selection functionality in 0f1764e. This was done due to performance concerns, see #1656.

[2021-03-10 22:01] #1674 closed

[2021-03-11 14:19] Yappu opened #1675 "crash when inputting float list to marching squares threshold."
This is using AN + EN version, if this is not the right place to bug report please let me know.

Crashing on both 2.92 with python 3.7, and daily build 2.93 alpha with python 3.9, with their respective versions of AN+EN
When inputting the float list and adding a new input blender crashes instantly, or in some seconds later when trying to reproduce.

Blender crash file here
[blender.crash.txt](http

[2021-03-11 14:33] OmarEmaraDev commented on #1675
You should report this here instead:
https://github.com/3DSinghVFX/animation_nodes

[2021-03-11 14:33] #1675 closed

[2021-03-12 10:01] OmarEmaraDev commented on #1673
I can't reproduce this issue. Reloading the blend file doesn't work you say?

[2021-03-13 06:49] luckychris commented on #1240
Can anybody send me a link or explain me, how i can compile  AN myself on a mac?

[2021-03-13 11:59] imacj opened #1676 "Add Control Change to MIDI Nodes"
I have been doing a lot of MIDI work in Animation Nodes and have found myself using separate MIDI tracks to trigger events in the scene. I also am finding the lack of modulation and pitch bend frustrating. I believe these events can be implemented with Control Change. It is documented on the MIDI Association website, found here: https://www.midi.org/specifications-old/item/table-3-control-change-m

[2021-03-13 12:01] genesis2303 opened #1677 "Trim spline faloff request"
I've been trying to replicate in blender this type of effect:
https://www.youtube.com/watch?v=_ilAMwcqdbM
Turned out that It can't be done with offset of growing splines. Is there any way you could add this feature? For now, I can't find any workaround if it even exists. Tried offset key frames with commotion addon, but it doesn't capture this type of key frames either
https://thumbs.gfycat.com/Ge

[2021-03-13 12:06] OmarEmaraDev commented on #1240
@luckychris Just install `Cython`, then execute `python setup.py build --export --noversioncheck`. This will create a zip file that you can install.

[2021-03-13 12:10] OmarEmaraDev commented on #1676
How should we expose such information to the user? Can you suggest a design that incorporate such information?

[2021-03-13 12:19] OmarEmaraDev commented on #1677
You can just use a standard Delay Falloff setup as follows.

https://user-images.githubusercontent.com/25300994/111029760-106abc00-8407-11eb-8917-368aa821ab1e.mp4

[2021-03-13 13:07] byjosue commented on #1240
![Captura de pantalla de 2021-03-13 09-03-33](https://user-images.githubusercontent.com/4573451/111030918-472add00-83db-11eb-9df4-36e093f2d3b5.png)
Can anybody please help me ?
I've already tried building it myself, tried the build in the animation nodes page and nothing, still getting the same error message

[2021-03-13 14:26] genesis2303 commented on #1677
OMG so it is possible! Sorry for posting it's here I just was struggling with this since a few days, had no idea how to use this evaluate faloff tried many combinations and nothing seemed to work. Damn so with this faloff I can cascade for example text character spacing? This is just awesome! So is there anything I can't faloff? Thak you!!!

[2021-03-13 15:01] genesis2303 commented on #1639
If this can help someone already translated loopable wiggle expression from after effects to AN
https://www.youtube.com/watch?v=IJENMB7q6Ug
It even seems to work with anticolision node.

[2021-03-13 15:14] OmarEmaraDev commented on #1240
@byjosue Is this with latest Blender daily build?

[2021-03-13 15:34] OmarEmaraDev commented on #1639
@genesis2303 It is technically feasible and understandable. We just need to allocate the time and effort to do it as it requires quite a bit of work.

[2021-03-13 17:47] byjosue commented on #1240
Yes, I was using the latest, after that I tried uninstalling and installing animation nodes and tried various builds of animation nodes, one of them worked. Thanks for the help anyway

[2021-03-13 22:11] dapa5900 commented on #1677
@OmarEmaraDev

Is it possible to set/randomize each of the replicated spline instances to a different individual thickness somehow? Not per point but for each S shape in your case as a whole segment? Thanks!

[2021-03-13 22:14] dapa5900 commented on #1639
@OmarEmaraDev great. I also wanted to check back how's it going with this project? Can you say something already, what might be a reasonable time frame here? Thanks for your efforts!

[2021-03-14 01:01] imacj commented on #1676
Sure. Heres what I made in Photoshop. I was thinking either using a style of brackets to determine the Control Change (such as ['modulation']) just like to set other parameters. Another way I was thinking was just using the control change number, which could prove to be confusing. Or the last method (and how my DAW does it) use a list to select the Midi CC.
Hope this helps!
<img width="672" alt="C

[2021-03-14 09:07] OmarEmaraDev commented on #1677
@dapa5900 You can just use a loop in this case. Maybe we can add an option to change how vectorization is applied in such case. I will think about it.

![20210314-111113](https://user-images.githubusercontent.com/25300994/111063076-76158180-84b5-11eb-909e-4938005aaffb.png)

[2021-03-14 09:26] dapa5900 commented on #1677
@OmarEmaraDev thanks, that's awesome. Yeah, I don't know if that's technically possible but maybe you could add the option to the set spline radius node (and offset spline node) to either affect the points individually or the whole connected segment / branch...?

[2021-03-14 09:44] OmarEmaraDev commented on #1639
@dapa5900 Currently, we use a library called Fast Noise SIMD to implement noise related nodes. At the same time we have separate code for the wiggle node, which is essentially a 1D noise. Fast Noise SIMD is no longer maintained and a new library Fast Noise 2 is under development. Initially I wanted to update the noise library to be the new one and unify the wiggle code with it, this proved difficu

[2021-03-14 09:45] OmarEmaraDev commented on #1677
@dapa5900 This sounds reasonable. If you have the time, can you create a new issue with the list of nodes that could utilize such an option?

[2021-03-14 10:06] Gerstmann-Bradley opened #1678 "Is that possible to "copy setting" when creating a new node tree?"
It's like when we create a new scene, there are options like "New" and "Copy Setting".
(I don't think "Link" is possible in AN, so probably not really matter in this case;
And Full Copy is absolutely pointless imo in AN node tree.)
I am more concerned with copy current node tree settings like "execution method", target scene, etc.
instead of wiping everything out and set things back into default.

[2021-03-14 10:31] dapa5900 commented on #1677
@OmarEmaraDev sure I will do this tomorrow. BTW while playing around with the spline nodes I also encountered some issues where I do not know if these are a bug or a feature 😉 what's the best place to ask about or report these?

[2021-03-14 10:36] dapa5900 commented on #1639
@OmarEmaraDev alright. Thanks for the detailed explanation and interesting insights. And first of all good luck to you for your exams!

As a further suggestion, when you write the noises yourself maybe you also want to have a look at the pretty extensive Cinema4D noise library for inspiration.

https://developers.maxon.net/docs/Cinema4DPythonSDK/html/types/noise.html

[2021-03-14 12:40] OmarEmaraDev commented on #1677
@dapa5900 We just enabled discussions for this repository. You should see it at the top next to Pull Request and Issues. You can open a thread in the Q/A section I guess, lets try it out.

[2021-03-14 12:52] OmarEmaraDev commented on #1639
@dapa5900 Thanks, I will take a look.

[2021-03-14 13:22] OmarEmaraDev commented on #1678
Added in 07372fa. Thanks for the suggestion!

[2021-03-14 13:22] #1678 closed

[2021-03-14 16:47] imacj commented on #1676
Heres one of the animations I've been working on for the past 2 months. Currently, I'm using a separate MIDI track to trigger when the vibraphone arms should come up/down. This could easily just be put in the original MIDI track using MIDI CCs.
https://user-images.githubusercontent.com/79052050/111075825-24262900-84c0-11eb-85a8-7b8d0eba140d.mp4

Another example would be vibrating a laser back and

[2021-03-14 17:25] OmarEmaraDev commented on #1676
@imacj Sounds good, but the newly suggested design is not correct either. CCs happen per channel of a track, not globally in a track. Moreover, If multiple Controller events happen on the same channel, then the CCs will change across time, and not uniformly. So a single output CC value in the Track Info node wouldn't work.

[2021-03-15 08:17] dapa5900 opened #1679 "Proposal: Add Set Radius per Segment to appropriate nodes"
Hi @OmarEmaraDev,

Following our discussion on #1677 it would be great if you could add the option to set the radius per connected segment / branch for appropriate nodes to achieve the following effect and thus remove the necessity to create an extra loop setup for this.

![splineRadiusPerSegment](https://user-images.githubusercontent.com/75205162/111121742-580b5800-856d-11eb-8881-86443f6e03eb.png

[2021-03-15 09:29] OmarEmaraDev commented on #1679
For tapering, this seems to be a Blender limitations. I guess we can patch Blender to take the radius into consideration.

[2021-03-16 00:15] L33t-HAXXOR commented on #1673
That is correct
Also I was using the Mac build found here:
https://github.com/3DSinghVFX/animation_nodes/releases

[2021-03-16 06:10] OmarEmaraDev commented on #1673
Can you try the mac build first here first?
https://animation-nodes.com/

[2021-03-16 09:46] luckychris commented on #1240
thanks omar, that was very helpful. I did this now myself and it worked but was a lot of work for someone, who never made this. Just a proposal: Why don't you provide compiled versions of animation nodes for different python versions? I think for you it is just one setup more for automated build, isn't it? I think not every artist/user of blender is capable in doing this and maybe not willing to d

[2021-03-16 09:47] luckychris commented on #1240
and believe it or not ...your "just install cython and..." took me 3 hours to do so and i had some errors messages in between which let my hair turn even more gray....

[2021-03-16 14:23] OmarEmaraDev commented on #1240
@luckychris We have versions for 3.7, 3.8, and 3.9. I don't think anyone uses older versions, so I think those are enough.

[2021-03-17 21:46] L33t-HAXXOR commented on #1673
That build is what I ended up using and does not give the same issue
Is the wrong place to post that issue above?

[2021-03-18 04:44] OmarEmaraDev commented on #1673
You should report this there instead.
https://github.com/3DSinghVFX/animation_nodes/

[2021-03-18 04:44] #1673 closed

[2021-03-18 20:13] Eric-M314 opened #1682 "Animate *Value* node "Start" and "End" inputs lost"
If I save a file using Animate Matrix (vector, float etc.) nodes in AN v2.1 for Blender 2.83 LTS all the connections to the "start" and "end" sockets are lost when using AN v2.2 for Blender 2.92.

I tried going from Blender 2.91 to Blender 2.92 and I also tried just using blender 2.92 with both versions of AN (downloaded yesterday and today).

If I try appending the node trees I get errors in the

[2021-03-19 05:07] OmarEmaraDev commented on #1682
Seems those are just backward compatibility breaks. In the terminal, Animation Nodes told you about what happened so that you can correct it and relink.

[2021-03-19 07:35] Eric-M314 commented on #1682
True.  Release notes stating compatibility breakages on the download page would've been nice.

Do you know if it'd be possible to fix these broken node links using python and the information from the terminal?

[2021-03-19 09:02] OmarEmaraDev commented on #1682
We usually write that in the release notes during the release process.

Yes it is possible. In the example above, this should be something like this:
[code]

[2021-03-19 09:02] OmarEmaraDev commented on #1682
`start` was renamed to `startValue` so this is what you need to update. The same goes for `end` -> `endValue`.

[2021-03-20 05:50] Eric-M314 commented on #1682
Thank you!

[2021-03-20 05:50] #1682 closed

[2021-03-20 11:42] OmarEmaraDev commented on #1677
We will continue the discussion in the other threads.

[2021-03-20 11:42] #1677 closed

[2021-03-20 11:43] #1676 closed

[2021-03-20 16:47] OmarEmaraDev commented on #1679
@dapa5900 We submitted a patch for tapering in [D10779](https://developer.blender.org/D10779). Once this lands in Blender, we will add support for it in Animation Nodes.

[2021-03-20 20:56] OmarEmaraDev commented on #1679
Implemented in 08dcee4.

I don't think the same concepts apply to the nodes you listed above. There are good reasons why those nodes are implemented like this. As for the Offset node, falloffs are evaluated per point, they can't be evaluated at a "spline", because the evaluation point is not really defined.

[2021-03-20 20:56] #1679 closed

[2021-03-21 18:32] dapa5900 commented on #1679
Thanks!

[2021-03-23 08:00] L33t-HAXXOR commented on #1673
I see! Thank you!

[2021-03-23 18:36] OmarEmaraDev commented on #1679
@dapa5900 The taper mode option was merge today in Blender and should be available in tomorrow's daily build. And the option was added to the Curve Object Output in Animation Nodes in f04abfb.

[2021-03-23 18:42] dapa5900 commented on #1679
@OmarEmaraDev

Mega! Thanks for that.

Quick question are you actually directly involved in the development of Blender itself as well?

[2021-03-23 18:49] OmarEmaraDev commented on #1679
@dapa5900 Yes. I mostly work on Cycles, but I also work on other areas as well.

[2021-03-24 08:55] mifth opened #1686 "Perforamnce of Object attribute"
Hi,
I found a strange issue with performance. The same attribute. But 50ms vs 70ms!
![image](https://user-images.githubusercontent.com/2251298/112282061-ca7be680-8c97-11eb-8b01-628029135b74.png)
![image](https://user-images.githubusercontent.com/2251298/112282095-d36cb800-8c97-11eb-9aa9-8d780e6c9246.png)

[2021-03-24 09:10] OmarEmaraDev commented on #1686
The Object Attribute Input node evaluates the object on the active depsgraph, so the extra 20ms is Blender evaluating the object.

[2021-03-24 09:17] mifth commented on #1686
Thanks for answering. Could we add acheckbox just to take from an objecct?
Something like 'Depsgraph' checkbox.

[2021-03-24 09:19] mifth commented on #1686
I'm a new user. And I even could not realize such an issue. I guess lots of people too.

[2021-03-24 09:36] OmarEmaraDev commented on #1686
I am not sure if that's a good idea. All input nodes in Animation Nodes gets their data from evaluated IDs. Users expect the output data to be of an evaluated ID, taking data from original ID would confuse users more I would say. What do you think?

[2021-03-24 09:45] mifth commented on #1686
That's a problem. I've been working on a realtime tool. I use AN as an engine.
I would like to have an option to get data from an object or depsgraph.
Right now I have to use expression nodes and some visual nodes become useless then. And a lot of people even fon't know about such an issue. (

Could I ask to have such an option, please?

[2021-03-24 10:08] OmarEmaraDev commented on #1686
What is the application for that? In which cases do you need to access the original data and not the evaluated data?

And if you are writing your own tool, why not just write custom nodes as well?

[2021-03-24 10:28] mifth commented on #1686
I'm working on a modeling tool. I create cylinders an spheres and update them in realtime.

Why should I write my custom node if AN already have them? I think it's good to have nice performance in realtime. )

[2021-03-24 11:41] OmarEmaraDev commented on #1686
Added an option in Advanced node Settings in f6d093f. Thanks for the suggestion!

[2021-03-24 11:41] #1686 closed

[2021-03-24 11:53] mifth commented on #1686
Thank you! )

[2021-03-24 12:45] dapa5900 commented on #1679
@OmarEmaraDev

Cool. What would you recommend is the best place to propose ideas for blender in general (ideas that potentially also reach you directly... 😉)?

[2021-03-24 15:51] OmarEmaraDev commented on #1679
@dapa5900 For proposing a general idea, there is https://blender.community/c/rightclickselect/. For feedback on certain ongoing developments, there is usually a thread at https://devtalk.blender.org/c/other-topics/user-feedback/. You may also engage in discussions on https://developer.blender.org/, but don't propose ideas there, the developer portal is for bug reporting and development only.

I am

[2021-03-25 10:43] brothermechanic opened #1687 "Object Visibility Output node Crash Blender with many objects"
Hello
Can you give me an advice how to animate collection hide in blender?
I released it with aN node Object Visibility Output node, but this node crashed blender
Please see scereencast - blender crashed when it's rendering
https://user-images.githubusercontent.com/3109995/112459687-037a9080-8d56-11eb-9a6f-6324f2935b85.mp4
(if i disable animation node tree blender don't crash)
(as you can see in m

[2021-03-25 10:55] OmarEmaraDev commented on #1687
Did you try locking the interface?

[2021-03-25 11:53] brothermechanic commented on #1687
awesome!
Thank you very much!

[2021-03-25 11:55] #1687 closed

[2021-03-25 14:22] mifth opened #1688 "Indices of Selected"
Hi,
I would like to request a feature if I may. It would be great to get selected indices through 'Mesh Object Input' or 'MeshInfo' nodes.

![image](https://user-images.githubusercontent.com/2251298/112488052-48221e00-8d8e-11eb-9585-e7db97810dbd.png)

- Selected Vertex Indices (int list)
- Selected Edges (edges list or int list)
- Selected Polygons Indices (int list)

But for performance it would

[2021-03-25 14:48] OmarEmaraDev commented on #1688
The Get List Element node can be used in this case. If you are concerned about the performance, we don't read data individually, we read buffers, so that's not possible, or at least will not give you the performance boost you are looking for.

[2021-03-25 17:47] mifth commented on #1688
Hi,
I mean selected data from edit mode. Get List Element will not help in such a case.
![image](https://user-images.githubusercontent.com/2251298/112518883-e15f2d80-8daa-11eb-9c21-9f89396d5378.png)
![image](https://user-images.githubusercontent.com/2251298/112519249-3a2ec600-8dab-11eb-81ae-228dd3b20308.png)

What do you think about this?

[2021-03-25 18:33] OmarEmaraDev commented on #1688
Ah I see. I will think about it.

[2021-03-25 21:40] mifth opened #1689 "Performance Issue with unconnected nodes"
Hi,
I've found another performance issue. I just created 10-20 unconnected Object Instancer nodes and found bad performance. I suppose if a node has no input/output then it will not be parsed. Apologies for so many reports but I would like to get good realtime performance. )
Here is my blend file:

[tmp1.zip](https://github.com/JacquesLucke/animation_nodes/files/6207988/tmp1.zip)

![image](https:/

[2021-03-26 04:56] 3DSinghVFX commented on #1688
@OmarEmaraDev Hi. I have added that as a selection mask in *Mesh Object Input* node: https://github.com/3DSinghVFX/animation_nodes/blob/2dbf1a7e5041042faf31b0d064ee05d37d50dedb/animation_nodes/nodes/mesh/mesh_object_input.py#L34-L36

[2021-03-26 09:14] OmarEmaraDev commented on #1688
@3DSinghVFX What happens if a constructive modifier is applied when Use Modifiers is enabled?

[2021-03-26 09:17] OmarEmaraDev commented on #1689
The node does have inputs and it actually does something. It checks if the amount of instanced objects matches that of the required input, and adds or deletes the difference, this takes time and have an actual effect.

[2021-03-26 09:24] mifth commented on #1689
But Instances = 0. I assume there should be no calculations then, right? Also, Object Cylinder.001 does not exist. I assume there should be no calculations.

Also, even if I remove Object name there still fps drop to 0.11
![image](https://user-images.githubusercontent.com/2251298/112610810-28423700-8e2e-11eb-8272-5bfca6f98340.png)

[2021-03-26 10:59] OmarEmaraDev commented on #1689
I don't think there is anything we can do here. Two microseconds per node is hardly a problem as far as I am concerned anyway.

[2021-03-26 11:35] mifth commented on #1689
Maybe something like this:
If instances == 0 or obj.name not in bpy.data.objects then dont initialize a node(pass it).

What do you think about it?

I always think about perfornance. I suppose everything should be with light speed. Especially, for big projects.

[2021-03-26 11:50] OmarEmaraDev commented on #1689
`instances` is an input, not a property, so its value can come from somewhere else, so a simple check like this wound't work. I guess we could check if it is linked or not, but then again, it is probably not worth it, a zero count or an empty object is not the base case anyways.

[2021-03-26 11:53] mifth commented on #1689
If it saves performance it would be worth.

[2021-03-26 12:18] OmarEmaraDev commented on #1689
If we employ that logic, then adding more checks to save performance in a special case would slow down the base case and then we wouldn't have saved performance after all.

[2021-03-26 13:37] dapa5900 opened #1690 "Proposal: Procedural Curve Chamfer"
Hi,

is it possible to add a procedural curve chamfer option / node? It should basically do the same on curves what a bevel modifier is is doing in Vertex mode. Please see here for reference:

![bevelReference](https://user-images.githubusercontent.com/75205162/112639442-8d068d00-8e40-11eb-8380-aff7efc3b578.png)

It should have the options to set the radius/offset of the chamfer as well as the sub

[2021-03-26 16:30] Gerstmann-Bradley commented on #1690
Omar, Spline from Object Node currently only work on Either Curve or Text Object.
Can there be a way to convert mesh to spline procedurally using AN?
Like Simplify the workflow as following using Spline from Object node.
I think this approach will be more generally useful to users.

![image](https://user-images.githubusercontent.com/55994236/112663244-f8dffa00-8e2e-11eb-9c89-cc6124e008d2.png)

[2021-03-26 16:40] OmarEmaraDev commented on #1690
@Gerstmann-Bradley Constructive modifiers in Blender don't operate on splines, Blender first convert the spline into a mesh then apply the modifier. So all information about splines are lost at this point. So really, the best you can do is your setup above or the Splines From Edges node.

[2021-03-30 09:06] OmarEmaraDev commented on #1690
I am trying to think of a good design for this operation. We have two types of curves, poly and bezier.

Poly curves should be straightforward, a per point radius can be provided by the user to control the bevel amount at each point. Perhaps another level of control is an option to determine which points gets beveled and which don't.

Bezier curves on the other hand seems a bit problematic. Would

[2021-03-30 10:02] dapa5900 commented on #1690
@OmarEmaraDev

Good questions. Well I think you're actually right, that already smooth handles don't need a procedural chamfer. From a workflow perspective I think this use case is usually desired when you want to add smoothness to a quite primitive basic shapes: like for example round the corners procedurally of a rectangle curve while maintaining the simple and easy to edit base curve shape or I

[2021-03-30 12:31] OmarEmaraDev commented on #1690
Smoothness is not exactly defined in this case, what I was proposing is to instead subdivide the point and maintain the existing smoothness. Still not sure how this will work. I will give it more thought.

Using contextual information in the node tree such as selection is probably not a good idea. ID keys might be a good option, but we don't currently support that. I guess we can add support for t

[2021-03-30 16:25] scottdmilner commented on #1240
After running`python setup.py build --export --noversioncheck`, I get this error:

[code]

Cython and gcc are installed. Same thing happens if I use `sudo`. Thanks for the help!

[2021-03-30 16:59] OmarEmaraDev commented on #1240
@scottdmilner hmmm, I am not sure to be honest. Seems like a correct syntax as far as I can tell. Which python version is this?

[2021-03-30 17:56] OmarEmaraDev commented on #1240
@scottdmilner Maybe python is actually a symlink to python2 or something. Anyways, good to see it worked.

[2021-03-31 10:56] angel11789 opened #1693 "is it possible that the documentation is downloadable?"
is it possible that the documentation is downloadable?

[2021-03-31 11:13] OmarEmaraDev commented on #1693
In the [documentation repository](https://github.com/JacquesLucke/animation_nodes_manual), there exist a green button to download the documentation as a zip.

[2021-04-01 02:48] angel11789 commented on #1693
Thanks

[2021-04-01 02:48] #1693 closed

[2021-04-01 10:28] genesis2303 opened #1694 "Ctrl + x from node wrangler proposal"
During the process of trying things out I often take some node and delete it to replace it with another, is it possible to bring to AN this functionality from node wrangler? In node wrangler connection stays intact after deleting in between node with this method. If we can drag node to connection and AN knows where to connect it, why can't we remove it similar way?

[2021-04-02 09:33] OmarEmaraDev commented on #1694
I am not sure how this works yet. Perhaps we just need to assign `internal_links`. We will look into it.

[2021-04-02 11:26] Gerstmann-Bradley opened #1695 "local axis-global pivot mode in "offset matrices" rotation?"
Not sure if this should be a proposal.
Basically I'm looking forward to an easy way for vector Rotate based on the origin & arbitrary axis.
There is "transform vector" node that can rotate vector based on origin, but we can't set an axis for rotation. (Figure.1)
There is also "offset matrix" node that can rotate vector based on global/local axis, but it doesn't contain "local axis - global pivot"

[2021-04-02 11:31] OmarEmaraDev commented on #1695
You want to rotate a vector around a custom axis with a custom pivot?

[2021-04-02 11:53] Gerstmann-Bradley commented on #1695
it will be local axis of the vector (Figure.1), and global pivot (the world origin at [0,0,0]). The desired path is shown in Figure.2.
I just came up with a workaround. If this is difficult to implement I may close this issue.
![image](https://user-images.githubusercontent.com/55994236/113412703-faf20d80-9386-11eb-8d19-a8df51a26d7a.png)
![image](https://user-images.githubusercontent.com/55994236/1

[2021-04-02 14:10] #1695 closed

[2021-04-02 15:59] OmarEmaraDev commented on #1694
Blender doesn't allow that at the moment. So we will have to patch Blender.

[2021-04-03 10:04] genesis2303 commented on #1694
Ok then this is more loose suggestion for future anyway, for now I'm just really waiting for loopable vector noise, since we can now do instancing with GN we could go crazy lvl of geometry even on my old rig, this is The feature, time difference between 120 frames loop and 10-20 seconds renders without it is pretty significant. Thank you for all your efforts to make AN better ;)

Also is there a w

[2021-04-03 10:50] OmarEmaraDev commented on #1694
@genesis2303 Haven't really looked into GN yet. Maybe @3DSinghVFX can help you here.

[2021-04-03 15:35] 3DSinghVFX commented on #1694
@genesis2303 Hi. Are you using the target object's vertices for instancing in GN?

[2021-04-03 19:47] genesis2303 commented on #1694
Here is full setup, with GN instancing I could throw few of this kind icospheres at my potato xeon 1230 (sth like 3rd generation i7) and R9 390 and viewport works like a charm GN instancing it's like a miracle, with this kind of performance people could do CG on laptops, but I'm not sure how much we can really control with mixing AN-GN system.

https://i.imgur.com/MJ1N8Ze.png

[2021-04-03 19:48] dwizor opened #1696 "Getting Attributes from GN in AN after point distribute"
Hello i want sample vector(point) positions from GeoNodes after point point distribute into AN. Is it possible?  Get Custom Attribute dont sees any attributes set after point distribute in GN chain.

[2021-04-03 19:54] #1696 closed

[2021-04-10 05:55] #1670 closed

[2021-04-14 21:41] Gerstmann-Bradley commented on #1679
@OmarEmaraDev In case you didn't receive the message, there is a red bar error in taper mode that presents in the newest AN and 2.93 alpha up to date. Would be able to investigate that?

[2021-04-15 09:14] OmarEmaraDev commented on #1679
@Gerstmann-Bradley Fixed in 61f2365e. Thanks!

[2021-04-15 13:01] dwizor opened #1698 "Selection order is broken?"
Hello,
How exactly should selection order work?
-First i am clicking sort objects>record selection order,
-selecting object in order as in need,
-ESC,
-Sort Objects>OK
-my objects have random indexes and not the order i chose.
It's a bug or am I doing something wrong here?

[2021-04-15 15:12] OmarEmaraDev commented on #1698
Doesn't seems to be working here as well. I will take a look.

[2021-04-15 17:52] 225ag opened #1700 "how can i install animation nodes in blender 3.0"

[2021-04-16 09:49] OmarEmaraDev commented on #1700
Are daily builds not working with 3.0?

[2021-04-16 20:40] dwizor opened #1701 "Question: Triangles in Plexsus effect."
Hello,
I want to create plexsus effect with triangles like on this reference:
![Plexsus_Ref](https://user-images.githubusercontent.com/68112419/115080921-c3956c00-9f03-11eb-94e2-5f42686826bb.png)
I have setup like this with lines and spheres, but i dont have idea how to achieve these traingles. Combine mesh requires polygon indices but i dont have idea from where i can get them.
![Plexsus_Setup](h

[2021-04-16 20:48] Gerstmann-Bradley commented on #1701
There's a tutorial about that: https://youtu.be/R9vFKAHYik8?t=1062
The basic idea is to generate triangle. You either generate a triangle by your own, or use "unity triangle" node. (using later method is definitely better), and use their edge indices and polygon indices.
So how to get points?
You generate KD tree. Within the loop, get random point, and find closest 3 points. and overwrite original

[2021-04-16 21:06] dwizor commented on #1701
Oh nice, this will be helpful(btw i love your tutorials for AN!) Before I asked this question, I checked tutorials for plexsus effects in AN, I dont know how I missed this ;o Thanks a lot ^^

[2021-04-16 21:06] #1701 closed

[2021-04-16 21:21] 225ag commented on #1700
i dont know how to build them

but i would like to know

A sexta, 16/04/2021, 10:50, Omar Emara ***@***.***> escreveu:

[2021-04-17 09:52] OmarEmaraDev commented on #1700
Build as in compile? There isn't really a difference between building for 3.0 and for other versions. Which platform are you on?

[2021-04-17 11:10] Majoran99 opened #1702 "Moving a Particle System Emitter"
Having a plane throwing out particles and moving it via AN does only move the plane, but not the particles. (Different than when  keyframing the plane)

[2021-04-17 11:20] Majoran99 opened #1703 "rounding + compare bug"
doing a comparison after rounding seems not to work properly.
![174782715_10226986442514043_693030702223420479_n](https://user-images.githubusercontent.com/82707686/115111241-9ededa00-9f7f-11eb-86f3-686596dd186e.jpg)

[2021-04-17 11:24] Majoran99 commented on #1702
when keyframing a motion on x axis:
![w1](https://user-images.githubusercontent.com/82707686/115111329-2d535b80-9f80-11eb-8bb1-524b12fff5b8.jpg)

whereas when moving with AN on x axis:
![w2](https://user-images.githubusercontent.com/82707686/115111337-36442d00-9f80-11eb-9b14-83d7f7fc5ddb.jpg)

would be nice if it was that simple with AN as well to move an emitter.

[2021-04-17 11:39] OmarEmaraDev commented on #1703
Comparing floats may not work as you expect it to. Blender may represent that same number differently. Your best option is to compare if it is close enough. `abs(a - b) < e` where e is a small number.

[2021-04-17 11:57] OmarEmaraDev commented on #1702
I suspect this is a limitation in Blender that we can't really do anything about. When using ketframes, Blender knows exactly where the object will move and can plan ahead. When Animation Nodes is the one moving the object, it is as if you moved the object yourself, and Blender just resets the simulation.

[2021-04-17 12:52] OmarEmaraDev commented on #1698
Fixed in fe55491. Thanks for the report!

[2021-04-17 12:52] #1698 closed

[2021-04-17 13:53] 225ag commented on #1700
im on linux
im using animation nodes since 2.83 but i cant work with 2.93 but i work
just fine with 2.92.0
could you tell me what to do to fix this problem

im using the version with pyton 3.7
animation_nodes_v2_2_linux_py37.zip

Omar Emara ***@***.***> escreveu no dia sábado, 17/04/2021
à(s) 10:52:

[2021-04-17 14:06] Majoran99 commented on #1702
thanks for the quick answer.
fun fact (I just discovered)- when I move an empty with AN and apply a driver on the plane following the empty`s x axis movement, it works. So, no keyframes, the initial movement comes from AN.
![Image2](https://user-images.githubusercontent.com/82707686/115115828-d016d480-9f96-11eb-95cb-0d5e1114a33e.jpg)

[2021-04-17 14:12] OmarEmaraDev commented on #1702
@Majoran99 I see. In this case, I will look into the Blender source and see if we can patch it to allow that somehow.

[2021-04-17 14:14] OmarEmaraDev commented on #1700
2.93 raised the required python version, this is probably the problem. You probably need the 3.9 version.

[2021-04-17 14:23] 225ag commented on #1700
and where can i find the animation_node 3.9 file

Omar Emara ***@***.***> escreveu no dia sábado, 17/04/2021
à(s) 15:14:

[2021-04-17 14:23] OmarEmaraDev commented on #1700
https://animation-nodes.com/#download

[2021-04-17 15:01] 225ag commented on #1700
i try to install it and i doesnt work i dont have the animation node editor
in 2.93
am i doing anything wrong

Omar Emara ***@***.***> escreveu no dia sábado, 17/04/2021
à(s) 15:24:

[2021-04-17 15:02] OmarEmaraDev commented on #1700
Do you get any errors? Can you open Blender from a terminal and show us the terminal output after enabling Animation Nodes?

[2021-04-17 15:51] 225ag commented on #1700
i get tthis after installing the addon but after when i try to open the
editor i cant there is none to open

Omar Emara ***@***.***> escreveu no dia sábado, 17/04/2021
à(s) 16:03:

[2021-04-17 16:08] OmarEmaraDev commented on #1700
We can't see anything. Can you attach that on Github instead of through email?

[2021-04-17 16:13] 225ag commented on #1700
how can i do that i have only send you a print screen

Omar Emara ***@***.***> escreveu no dia sábado, 17/04/2021
à(s) 17:08:

[2021-04-17 16:23] 225ag commented on #1700
this is what happen when i try to open blender in terminal
x-special/nautilus-clipboard
copy
file:///home/ag/Pictures/Screenshot%20from%202021-04-17%2017-20-12.png

[2021-04-17 16:24] OmarEmaraDev commented on #1700
I still can't see the image. Just copy the text output here. Or use the "Attach files" button at the bottom of the the text field to upload the image.

[2021-04-17 17:16] 225ag commented on #1700
Omar Emara ***@***.***> escreveu no dia sábado, 17/04/2021
à(s) 17:24:

[2021-04-17 17:22] 225ag commented on #1700
so ,as you can see i think i installed the addon properly
but when i try to open the animation nodes editor i can't because there is
none
or am i doing something wrong

Alexandre GranAda ***@***.***> escreveu no dia sábado,
17/04/2021 à(s) 18:16:

[2021-04-17 17:36] 225ag commented on #1700
i've tried on blender 3.0 just now and i got to this screen
can this help you

Alexandre GranAda ***@***.***> escreveu no dia sábado,
17/04/2021 à(s) 18:22:

[2021-04-17 19:19] OmarEmaraDev commented on #1700
@225ag I still can't see any images. Please use the Github interface instead of email. Email will not attach images.

[2021-04-18 14:23] 225ag commented on #1700
i'm sorry but i can't open the github where i wrote about this issue
could you please send me a link or other thing for i to know where to send
you the screens i have

Omar Emara ***@***.***> escreveu no dia sábado, 17/04/2021
à(s) 20:20:

[2021-04-18 14:32] 225ag commented on #1700
ok i find it
this are the screens one of blender 2.93.0
tthe other from blender 3.0

![Screenshot from 2021-04-17 18-15-25](https://user-images.githubusercontent.com/82114777/115149180-d4a4c100-a05a-11eb-93b7-af9a1766b42b.png)
![Screenshot from 2021-04-17 18-33-23](https://user-images.githubusercontent.com/82114777/115149186-dec6bf80-a05a-11eb-8a7e-96621d0ff72c.png)

[2021-04-18 14:32] #1700 closed

[2021-04-18 20:52] OmarEmaraDev commented on #1700
@225ag This doesn't seem to be official Animation Nodes. I am guessing this is Extra Nodes? I would say try official Animation Nodes first to see if those problems are there.

[2021-04-19 10:39] he9800 commented on #1670
Hi all
I tried to install the Animation Node but got error
I tried many times
I use Blender 2.92

[2021-04-19 12:49] OmarEmaraDev commented on #1670
@he9800 What is the error exactly?

[2021-04-19 14:01] 225ag commented on #1700
so where can i find animation nodes

A domingo, 18/04/2021, 21:52, Omar Emara ***@***.***>
escreveu:

[2021-04-19 14:42] he9800 commented on #1670
I tried to install it but gave me error ..,,

[2021-04-19 14:43] he9800 commented on #1670
I tried to install Animation Node but gave me error

Sent from my iPhone

[2021-04-19 14:44] OmarEmaraDev commented on #1670
@he9800 I get that, but what is that error? Can you provide a screenshot or a paste of the error message?

[2021-04-19 14:45] OmarEmaraDev commented on #1700
First, make sure to remove any old versions, possibly by deleting the `animation_nodes` directories in your Blender installation. Then install AN from here:

https://animation-nodes.com/#download

[2021-04-19 14:50] he9800 commented on #1670
Oki when i’ll open my pc ‘ll provide it to you

Sent from my iPhone

[2021-04-19 16:17] 225ag commented on #1700
ok i downloded your file and in 2.93 this happen
![Screenshot from 2021-04-19 17-08-45](https://user-images.githubusercontent.com/82114777/115268729-7c40f280-a132-11eb-9630-aa71294dad36.png)
![Screenshot from 2021-04-19 17-08-32](https://user-images.githubusercontent.com/82114777/115268808-8fec5900-a132-11eb-9b87-ff3d8cf88142.png)
 and in blender 3.0 this happen
![Screenshot from 2021-04-19 17-06-

[2021-04-19 19:25] OmarEmaraDev commented on #1700
What does executing this return?

[code]

[2021-04-19 19:25] OmarEmaraDev commented on #1670
@he9800 Lets continue this in #1700.

[2021-04-20 11:23] he9800 commented on #1700
Is blender 3 come out .. it isn't showing in the blender website just blender 2.92

[2021-04-20 11:26] OmarEmaraDev commented on #1700
@he9800 It isn't out. But you can download an experimental build from here: https://builder.blender.org/download/

[2021-04-20 13:44] imacj opened #1704 "Bake to Keyframes execution times increase"
Hi,

I have a simple setup to simulate larger execution times. It takes about 3-5 ms to calculate each frame with Animation Nodes alone, no baking. When I go to bake to keyframes, the times start around 30 ms, which is fine, but then gradually creep up to 90 ms. Why do the execution times increase when frames advance? I've seen this happen with my larger Animation Nodes projects and sometimes baki

[2021-04-20 13:52] OmarEmaraDev commented on #1704
I can replicate that. I will investigate.

[2021-04-20 14:38] OmarEmaraDev commented on #1704
Profiling the execution tells me most of the time is spent in Blender's `keyframe_insert`. So this is just Blender being slow at inserting kyaframes, there isn't much we can do here as far as i can tell.

[2021-04-20 15:14] imacj commented on #1704
I see. Would it be possible to have `Bake to Keyframes` only insert keyframes if the keyframed value changes? I just think that inserting blank keyframes isn't as productive and adding to the internal keyframe list is slowing it down.

[2021-04-20 15:30] OmarEmaraDev commented on #1704
@imacj That is maybe possible, just not sure if is worth it. Most of the examples I can think of will not be sparse in nature.

[2021-04-20 15:54] imacj commented on #1704
I can understand that most AN animations have values constantly changing. However, all of my MIDI animations usually have gaps until they play the next note. Keyframing 120+ objects is very data-heavy, so having that optimization when I go to bake is very helpful.

One of my node trees usually takes 140+ ms to execute (because of all of the MIDI data). I don't think it fully optimized either, mayb

[2021-04-20 15:57] OmarEmaraDev commented on #1704
Have you tried using the *Set Keyframes* node? It gives more fine control over that, so you can insert the key frames exactly where/when you want them.

Feel free to send over the unoptimized file and I will have a look.

[2021-04-20 16:20] imacj commented on #1704
I was looking into that today, I will have more of a look tonight.

Is there a way I can DM/email you?

[2021-04-20 16:21] OmarEmaraDev commented on #1704
@imacj You can find my email on my Github profile page.

[2021-04-20 17:06] imacj commented on #1704
Okay, sent you an email!

[2021-04-24 18:35] EstEsca commented on #1200
Wow, this one really saved me! Thanks a lot

[2021-04-26 05:02] 3DSinghVFX commented on #1688
@OmarEmaraDev Sorry for the late reply. It works for Use Modifiers as well, the selection update according to modifier:
![Screenshot from 2021-04-26 10-27-57](https://user-images.githubusercontent.com/30294746/116031022-7e4b0a00-a67a-11eb-8a5f-899812faf1bb.png)

![Screenshot from 2021-04-26 10-30-03](https://user-images.githubusercontent.com/30294746/116031062-8d31bc80-a67a-11eb-943f-da9da26c2840.

[2021-04-26 09:10] OmarEmaraDev commented on #1688
Ever used that feature in a practical application before?

[2021-04-26 09:47] 3DSinghVFX commented on #1688
Yes. I used for Shortest Path node and in some other projects where I need to separate some part of the mesh.

[2021-04-26 10:58] OmarEmaraDev commented on #1688
In those cases, why not use something that is less "volatile" like a vertex group?

[2021-04-26 12:13] OmarEmaraDev commented on #1639
An update on this. Using Numpy universal functions was a bad idea. Performance was not great and I somehow missed the memory usage implications of such code, so this is a no go as far as I can tell.

I am not sure yet, but I now think the ideal solution is to write the library in ISPC. The one disadvantage is the non trivial dependency we will be introducing to Animation Nodes if we do that. Maybe

[2021-04-26 16:36] 3DSinghVFX commented on #1688
@OmarEmaraDev That is also possible. I found this is simpler than the vertex group in these cases.

[2021-04-26 17:16] dapa5900 commented on #1690
@OmarEmaraDev

You might also want to check this video for some feature ideas how this could work: https://youtu.be/unyR8G6BdDI

[2021-04-26 19:28] OmarEmaraDev commented on #1690
@dapa5900 I already did the math for the poly spline chamfer, still haven't figured out bezier though. I might just add the poly spline version for you to test this Wednesday and follow it with bezier later. Sorry for the delay.

[2021-04-26 19:31] OmarEmaraDev commented on #1688
I don't think we should have those outputs in this node. I am open to a new node that extracts those information from an object though.

[2021-04-27 09:14] 3DSinghVFX commented on #1688
Okay.

[2021-04-27 11:20] Gerstmann-Bradley opened #1706 "Proposal: Hexagonal Distribution"
There's a reference from Sverchok "Polygon Grid" node. I'm not sure how far we need this. because its' a much more complex node in reality.
Another thing is that I think both vertices of hexagon or Centers of a hexagon are important information that's needed.
Current workaround is to Replicate "Circle Mesh" Node so we may potentially get vertices and centers of a hexagon, but it's difficult to mak

[2021-04-27 11:26] OmarEmaraDev commented on #1706
So a Hexagonal Grid Mesh node?

[2021-04-27 11:31] Gerstmann-Bradley commented on #1706
Yes, I think that's acceptable.

[2021-04-30 15:13] OmarEmaraDev commented on #1690
@dapa5900  Implemented in 4c8e56b. Let me know if you have any feedback.

https://user-images.githubusercontent.com/25300994/116715754-483dbb00-a9d7-11eb-9a9e-05f8783ccea1.mp4

[2021-04-30 15:20] Gerstmann-Bradley commented on #1690
Omar, I have a side question, there was a long-standing proposal at #1332 talking about nurbs curve support.
Chamber really reminds me about that. I wonder is there any difficulty for it being delayed so long?

[2021-04-30 15:26] OmarEmaraDev commented on #1690
@Gerstmann-Bradley NURBs are a completely different type of curves, so the code for all the spline operations would need to be written specifically for BURBs. And they don't seem to be used a lot. In other words, big project, little motivation. What do you want NURBs for exactly?

[2021-04-30 15:37] Gerstmann-Bradley commented on #1690
Upon creating a complex curve in 3D space, either for model or path, working with Bezier handle is very difficult, so I ended up using lots of Nurbs which provides lots of auto-smoothing result. At some point I would say personally I use more Nurbs than other two types of curve.
But perhaps bevel spline node now can help with the issue, I'm not yet sure. In the worst case, at least the old workaro

[2021-04-30 15:44] OmarEmaraDev commented on #1690
@Gerstmann-Bradley What if we convert the NURBS into Bezier when reading them from Blender? So you would still have them as curves in Animation Nodes. Would that be satisfactory?

[2021-04-30 15:51] Gerstmann-Bradley commented on #1690
Absolutely yes. As long as the shape is maintained, what happens internally isn't something I personally would bother.
That's why the previous workaround works. It just creates too many points and the requirement for regenerating a spline feels weird.

[2021-04-30 15:57] OmarEmaraDev commented on #1690
@Gerstmann-Bradley Alright. I am not sure about the technicalities yet, but I will look into it.

[2021-05-01 11:31] OmarEmaraDev commented on #1332
Continuing from #1690, it seems converting NURBs to Beziers is not possible, but approximations are probably possible. Not sure yet what we need to do.

[2021-05-01 11:46] Gerstmann-Bradley commented on #1332
No problem, It's not urgent anyway. Please take your time and prioritize things based on your decision.

[2021-05-01 19:34] OmarEmaraDev commented on #1702
I tried to look into this but couldn't reach anything useful. So I would just consider this as a limitation of Blender.

[2021-05-01 19:34] #1702 closed

[2021-05-02 07:43] 3DSinghVFX commented on #1702
@Majoran99 A workaround for this is: first control a different object (an empty) with AN then use that object for drivers of the *Plane* (Emitter).

[2021-05-02 22:22] #1689 closed

[2021-05-03 03:39] derekcbr opened #1711 "Can not output videos for no reasons?"
I used AN to output videos before normally. But now it can play animation only in rendering mode, can not output video anymore.
![an001](https://user-images.githubusercontent.com/31892214/116839237-25441e80-ac04-11eb-898e-8db78ac75e67.png)

[2021-05-03 08:25] OmarEmaraDev commented on #1711
Can't why? Does Animation Nodes crash? Does it stay the same over all frames?

[2021-05-03 09:22] derekcbr commented on #1711
No crash! Correct, it stays the same over all the frames.

[2021-05-03 09:33] OmarEmaraDev commented on #1711
Can you share a file that replicate that issue? Can you replicate it on the latest version of Blender and Animation Nodes?

[2021-05-03 14:06] dapa5900 commented on #1706
@OmarEmaraDev and @Gerstmann-Bradley

I build a setup for this a while ago and think I got the math right based on some algorithm I found. You can check it out here, maybe it helps:

https://p7s1-my.sharepoint.com/:f:/g/personal/par0001d_belgium_fhm_de/Eq0yQVSYfZNHrVcE-YQ6pTIBZ_zEucGlNTBfCD39bn1zBw?e=iO5ozS

It would b cool, if this can be implemented natively. Thank you

[2021-05-03 14:19] OmarEmaraDev commented on #1706
@dapa5900 Seems to be similar to @harisreedhar's implementation in #1707. I want to merge a more general implementation though as I described there.

[2021-05-03 14:22] dapa5900 commented on #1690
hi @OmarEmaraDev

thank you for implementing the functionality and sorry for the late reply.

What is the best way to get the AN build with new features implemented to test them? Is this part of the public release already? So far I always downloaded the latest build from here: https://blender.community/c/graphicall/0hbbbc/

However since a while after installing the addon with this package it's te

[2021-05-03 15:11] Gerstmann-Bradley commented on #1599
Hi, Omar. Back to the days we are talking about modifier issue in object mesh data node. We have made conclusion that if we are using object mesh data to load modifier, we can not disable from collection, viewport and render.
In Geometry Nodes, however, we can disable the collection but the instanced object will retain its modifier.

In the shown example, red is plane or plane instancing subdivded

[2021-05-03 16:23] OmarEmaraDev commented on #1690
@dapa5900 About 15 minutes after we commit anything to Animation Nodes, the build becomes available there as the "Latest" one: https://animation-nodes.com/#download, so just download from there. The builds from graphic all are not maintained by us, and are not updated automatically.

Latest AN builds track latest Blender, and we can't support older version due to missing functionalities or differe

[2021-05-03 16:25] dapa5900 commented on #1690
@OmarEmaraDev

Great, thanks for the information.

[2021-05-03 16:32] Gerstmann-Bradley commented on #1690
Since Omar didn't mention, I will add several notes:
The link provided by Omar doesn't include "Extra Nodes".
Previous link from Blender Community Include Extra Nodes.
AN+EN Pack is a derivative managed by @3DSinghVFX, if he doesn't merge upstream with native AN, newest feature of AN isn't available.
According to him, he has to do everything manually, including the post from Blender Community. Thu

[2021-05-03 16:34] dapa5900 commented on #1690
@Gerstmann-Bradley

Thanks a lot!

[2021-05-03 19:45] OmarEmaraDev commented on #1599
@Gerstmann-Bradley I am not following exactly, can you elaborate?

[2021-05-03 19:50] Gerstmann-Bradley commented on #1599
Basically Geometry Nodes can read modifier data from the object, which is in a disabled collection.
Animation Nodes can not do so, unless this object is being used by geometry nodes somehow.

Previously it was said to be a blender limitation and AN couldn't do anything to solve this.
But it now seems doable in blender geometry nodes, while AN can't.

[2021-05-03 20:02] derekcbr commented on #1711
Ok, how to send the Blender file?

[2021-05-03 20:05] OmarEmaraDev commented on #1599
Well, we can only access the modified object if Blender evaluates it somehow. When instancing using GN, the object is evaluated and so it can be accessed. This is nothing special about GN, you could replicate that in multiple other way. The point is that if it is disabled in the viewlayer and Blender doesn't need its data somehow, it will not be evaluated.

[2021-05-03 20:06] OmarEmaraDev commented on #1711
You can zip it and upload it here by dragging and dropping in the text box or pressing the bottom bar in the text box.

[2021-05-03 20:10] derekcbr commented on #1711
[an001.zip](https://github.com/JacquesLucke/animation_nodes/files/6417383/an001.zip)

[2021-05-03 20:11] Gerstmann-Bradley commented on #1599
hmmm, so AN can't intentionally ask blender to evaluate an object by any means?

[2021-05-03 20:26] OmarEmaraDev commented on #1599
Not as far as I know. Blender evaluates things before AN executes anyways, so we can't ask Blender to reevaluate something mid-execution. Well, we can, but we probably shouldn't. :)

[2021-05-03 20:27] Gerstmann-Bradley commented on #1599
ok, that's unfortunate,

[2021-05-03 20:31] OmarEmaraDev commented on #1711
I can replicate that unfortunately. Did you try with the latest builds from Blender and Animation Nodes?

[2021-05-04 00:22] derekcbr commented on #1711
Yes, Blender 2.92+animation_nodes_v2_2_windows_py37 for 2.92

[2021-05-04 09:50] OmarEmaraDev commented on #1671
Other transform nodes still need to be fully vectorized.

[2021-05-05 06:29] #1671 closed

[2021-05-05 14:26] harisreedhar commented on #1706
@OmarEmaraDev I have a patch for Hexagon distribution in ``Distribute Matrix`` node. Do you think it worth adding to master?

https://user-images.githubusercontent.com/46858047/117156708-98ec5400-addb-11eb-80f1-d99c97fdf59c.mp4

[2021-05-05 15:19] OmarEmaraDev commented on #1706
@harisreedhar Sure.

[2021-05-05 19:37] gerroon opened #1717 "When is the next release?"
Hi

Is there a time line for the next release? Blender 2.93 is Python 3.9 and Animation Nodes is complaining about it.

[2021-05-05 19:39] #1717 closed

[2021-05-09 08:49] dingsboms opened #1719 "Can't get midi notes to work"
I'm trying to read a midi file and execute a location movement on an object, however when I try to apply the  method stated in the manual or other tutorials on youtube, I can't get i to work. For some reason animation nodes adds a "Get list element" node when I attach the "Combine Vector" node to the Location input of the "Object Transform Output" node. This doesn't seem to happen on the tutorials

[2021-05-09 09:22] #1719 closed

[2021-05-09 09:59] thandidladla opened #1720 "Animation Nodes crashes Blender during Render"
**System:**
Windows 10
GTX 670

**Version:**
Blender 2.92.0
Animation Nodes: 2.2.2

**Problem:**
Been having this problem twice now while working with animation nodes.
Blender crashes when I try to render an image or video from some of the projects that use animation nodes.
I've been using Blender for about a year and never had such persistent render crashes otherwise, not even in really heavy pro

[2021-05-09 10:08] Gerstmann-Bradley commented on #1720
Have you tried Lock the Interface? I should largely prevent the crash.
![image](https://user-images.githubusercontent.com/55994236/117568145-eba06700-b08c-11eb-85ef-b1480352cd27.png)

[2021-05-09 10:08] Gerstmann-Bradley commented on #1720
Have you tried Lock the Interface? It should largely prevent the crash.
![image](https://user-images.githubusercontent.com/55994236/117568145-eba06700-b08c-11eb-85ef-b1480352cd27.png)

[2021-05-09 10:19] thandidladla commented on #1720
Thank you for this super quick answer!
Works like a charm, I'm very happy

[2021-05-09 10:19] #1720 closed

[2021-05-12 08:22] #1711 closed

[2021-05-19 03:37] Gussisaurio opened #1722 "Animation nodes for Mac ARM M1 processor."
Hi there.
I am trying to run animation nodes with the experimental compiles for Blender 2.93 Beta ARM and Blender 3.0 alpha ARM.

When I activate the Add on I get the following error:

_Traceback (most recent call last):
  File "/Applications/Blender 2.93 ARM.app/Contents/Resources/2.93/scripts/modules/addon_utils.py", line 351, in enable
    mod = __import__(module_name)
  File "/Users/Edgar/Libr

[2021-05-19 09:07] OmarEmaraDev commented on #1722
We don't compile Animation Nodes for ARM at the moment. We also depend on a library that doesn't have ARM neon support. We plan on replacing that dependency though.

So Animation Nodes doesn't work with ARM at the moment. But it will probably support it in the future.

[2021-05-19 09:07] #1722 closed

[2021-05-20 00:51] Gussisaurio commented on #1722
OK. Thank you very much, Omar.

[2021-05-20 10:16] Majoran99 opened #1723 "new names given by object instancer"
I have incoming data that sometimes should trigger to create a new object, which will then do something for a while (e.g. following a spline until its end) and should then be terminated. And it might happen that before 1 object is killed, the next object already comes up.
The problem with the object instancer is: for every instance it gives names like MyObject.001, MyObject.002 and so on. Say it f

[2021-05-20 18:17] OmarEmaraDev commented on #1723
This seems like an XY problem. Why is it an issue that the extra instances are removed from the end? Ideally your node tree to should be fully descriptive of the objects. Can you share a minimal example that demonstrates this issue?

[2021-05-20 22:50] chishou69100 opened #1724 "issue installing AN"
Hi !
I am totally new in the blender and i have trouble to install the animation node. I installed python 3.9.5 and VC_redist.x64. i can't understand why it's not working.
![image](https://user-images.githubusercontent.com/79552766/119058216-38116e00-b9ce-11eb-98f7-84d99747f7ee.png)

Thanks in advance.

[2021-05-21 08:33] OmarEmaraDev commented on #1724
Can you try manually erasing the `animation_nodes` folder from the `addons` directory then installing Animation Nodes again?

[2021-05-21 10:15] Majoran99 commented on #1723
Here I use the name-numbering of the instancer to identify each instance individually. But when reducing the number instances, the identification gets lost.
![grafik](https://user-images.githubusercontent.com/82707686/119121902-3ecfcd80-ba2e-11eb-8bbe-1419ff52f82b.png)

[2021-05-21 10:37] OmarEmaraDev commented on #1723
The question still stands, why does it matter? You just need to identify the object using its index in the output list.

[2021-05-21 12:42] chishou69100 commented on #1724
It worked thank you.

[2021-05-21 12:42] #1724 closed

[2021-05-21 12:46] Gerstmann-Bradley opened #1725 "Get Custom Attribute doesn't seem working"
@3DSinghVFX
Would you be able to confirm and check that?
There isn't any other modifier or setup attached.

![image](https://user-images.githubusercontent.com/55994236/119139282-d3c3ce00-ba10-11eb-9aea-71cb468462f4.png)

[2021-05-21 13:14] Majoran99 commented on #1723
yes.. but when its position in the index changes due to removing instances, it is getting complicated, I was wondering if it wouldn't be worth a thought implementing the option that a once an object is named in the instancer it could remain with its name although the list length might change.

[2021-05-21 15:31] OmarEmaraDev commented on #1725
Do you have the hidden Load Custom Attributes input enabled?

[2021-05-21 15:42] OmarEmaraDev commented on #1723
I am sorry, I am still not following what you are saying exactly. I think you should provide a practical example that shows that limitation.

[2021-05-21 15:46] Gerstmann-Bradley commented on #1725
Ok, I didn't notice that. Thanks for mentioning!

[2021-05-21 15:46] #1725 closed

[2021-05-21 17:49] Majoran99 commented on #1723
I try...:
The practical example would be incoming MIDI data. A MIDI pitch (a key on a MIDI keyboard) is by default at 0 but sometimes goes to 1 (key is pressed, note sounds). Everytime a specific key (pitch 60, e.g.) is pressed, an object should be generated and do a movement.
(examples:
https://archive.org/details/AutoAudioVis5/egoshootVis.mp4
or
https://user-images.githubusercontent.com/79052050

[2021-05-21 17:57] Hansimov opened #1726 "[KeyError: 10] when "Read Midi File" Node parses some midi file"
When I try to parse a midi file ([canon-2-03m02s.zip](https://github.com/JacquesLucke/animation_nodes/files/6524237/canon-2-03m02s.zip)) with the "Read MIDI File" Node, it raises `KeyError: 10` as shown below (at last line):
- It seems that some event in this midi file is not covered and recognized by the script
- Or maybe it parses some previous bytes incorrectly so that it takes the subsequent b

[2021-05-21 19:20] OmarEmaraDev commented on #1726
I feel like this might be a wrong implementation of running status. I will investigate this later.

Thanks for the report!

[2021-05-21 19:28] OmarEmaraDev commented on #1723
Well, the main problem is that your animation is not described parametrically. Animation Nodes wasn't designed to work with non parametric animations. Parametric means the object locations can be described as a function of time, with possibly some other parameters.

Say it takes each object `d` seconds to do their animation after they start, and say they start at time `s`. Then to implement this,

[2021-05-21 20:03] Majoran99 commented on #1723
Thank you for your answer, yes, that is possible.
Just thought it might be worth considering to facilitate this by implementing a drop-down-menu in the object instancer where one can choose between the current mode of naming the objects (how to call? "additive-subtractive"?) and a "progressive" naming.
This would allow much easier for having individual objects with a given lifespan, hence one can

[2021-05-21 22:36] Gerstmann-Bradley opened #1727 "Red Bar Error when selecting spline using Mesh From Spline Node in 2.93"
2.93 beta
Latest AN.
WIN10.
Once selecting the spline, red bar immediately.
Remove Selection and Retry will solve the issue.

![image](https://user-images.githubusercontent.com/55994236/119204397-52495b80-ba63-11eb-8490-d99559de0d33.png)

[2021-05-22 06:36] #1727 closed

[2021-05-22 23:34] Gerstmann-Bradley opened #1729 "Proposal: Get Minimum and Maximum / Statistics of a float list."
This is a node I created for myself for a long time. I think it will be nice we have that within native AN.
Many times I have a list of values and I want to do evaluation with some statistics, such as the shortest/longest spline length.
To make this node by user is theoretically simple. But it also takes a lot of nodes. I think it would better be implemented in the first place. I also think to kee

[2021-05-23 06:51] OmarEmaraDev commented on #1729
This functionality seems to be better suited for the Number List Math node. Maybe we can just add the index to that node?

[2021-05-23 06:57] Gerstmann-Bradley commented on #1729
I see, I've never known that node. Yes, I think add index to that will be helpful.
Also would you add alias directing user to use its minimum/maximum function?

[2021-05-23 07:02] Gerstmann-Bradley commented on #1729
I also think many times when we know maximum then we want to know minimum. Instead of calling nodes for two times, would that be better to put them into the same class? We may use "Range" to describe it? What do you think?

[2021-05-23 07:38] OmarEmaraDev commented on #1729
I think two nodes here is acceptable.

Index and aliases added in a6e9b62 as you suggested.

[2021-05-23 07:38] #1729 closed

[2021-05-24 08:02] trinityss opened #1730 "Mesh Object Output > origin not in the center of the object"
Hi,

I'm following this tutorial (but also want to animate the object): https://www.youtube.com/watch?v=cyR_meI7YjQ&t=3s
I however bump into an issue...

I can't roll the cylinder because the origin isn't placed in the center of the object >
https://drive.google.com/file/d/1KAQA5N_VjUOwSQmYRIciZcpj-5-MZ10c/view?usp=sharing

![image](https://user-images.githubusercontent.com/61430022/119315733-73ce

[2021-05-24 08:10] Gerstmann-Bradley commented on #1730
I guess there are two ways to solve your problem:
1. in your most original mesh, make sure it's centered properly according to the world origin. (Figure.1)
2. you just want "transform mesh" node to center your created mesh.

![image](https://user-images.githubusercontent.com/55994236/119317326-f68af800-bc45-11eb-829d-923fe50be8d4.png)

[2021-05-24 08:52] trinityss commented on #1730
Hi Bradley,

Thanks for your quick reply!  The origin of my original mesh is centered >

![image](https://user-images.githubusercontent.com/61430022/119322238-be071080-bc7d-11eb-8910-f37a800a14dd.png)

I had a look to the transform mesh node but there doesn't seem to be a way to influence the location of the origin, or am I missing something?

![image](https://user-images.githubusercontent.com/614

[2021-05-24 09:00] Gerstmann-Bradley commented on #1730
I meant to locate it at "world origin" Your object is always created based on the "world origin". (Figure.1)
So even if you successfully rotate your target object, it may not rotate in the way you want.
Also a reminder. you have turned your tool "Affect Origin" on, you won't be able to rotate your object in the viewport. (Figure.2)
![image](https://user-images.githubusercontent.com/55994236/119323

[2021-05-24 09:19] trinityss commented on #1730
Aha, sorry about that! Putting the original cylinder at the world origin does indeed result in a correct rotation!

Thanks for your help!

Kr,

[2021-05-24 09:19] #1730 closed

[2021-05-24 10:52] hooyuser opened #1731 ""Object Attribute Output" node is not compatible with geometry nodes"
**Info**
Blender version: 3.0.0 Alpha, branch: master, commit date: 2021-05-15 23:00, hash: 9dabb342ba5e, type: Release
Blender build date: 2021-05-15, 23:10:04
Platform: 'Windows-10-10.0.18362-SP0'
Animation nodes version: 2.2.2

**Bug Description**
I want to change an input value of my geometry nodes modifier with the "Object Attribute Output" node.  I found that the "Object Attribute Output" no

[2021-05-24 11:56] OmarEmaraDev commented on #1731
Seems to be a limitation of Geometry Nodes, setting values through python doesn't evaluate the GN node tree. Not exactly related to Animation Nodes. I would report this bug to Blender instead.

[2021-05-24 11:56] #1731 closed

[2021-05-24 12:42] RivalC70 opened #1732 "Object isn't animating with Empty Object"
I'm following this tutorial with animation nodes:

https://www.youtube.com/watch?v=xcjrD5SwQBw

I've followed it up to 4:38 where it explains that the control of the scaling animation is with the Empty object but I've done the exact same (Or at least what looks like the same to me) in the animation node tree but nothing is moving when scaled!

This is my first time with animation nodes so I'm not

[2021-05-24 12:46] Gerstmann-Bradley commented on #1732
![image](https://user-images.githubusercontent.com/55994236/119349740-7b890800-bc6c-11eb-86b6-efe6875fd01d.png)
Have you setup the trigger?

[2021-05-24 12:59] RivalC70 commented on #1732
Linking to map range has changed it but it still doesn't move with the empty - if by triggers, here's what I have at the moment:

![image](https://user-images.githubusercontent.com/84719464/119351299-3da1d900-bc98-11eb-933c-663621e342dd.png)

[2021-05-24 13:03] Gerstmann-Bradley commented on #1732
You are using two different empties each for falloff and trigger. switch to the same empty and try

[2021-05-24 13:11] RivalC70 commented on #1732
Fixed, it's updating now and actually working. Thanks for the help and the speed of the reply especially. I didn't think I was going to get one for at least a couple of hours  👍

[2021-05-24 13:32] hooyuser commented on #1731
That's probably the case. Thanks for your help!

[2021-05-24 13:53] RivalC70 commented on #1732
One last thing if it's okay - going further into the video, I'm at the part where moving the empty object up and down gives a transition effect from 0-1 then back to 0 again, however it's leaving behind smaller shaped scales.
This is what it's supposed to be:
![image](https://user-images.githubusercontent.com/84719464/119357644-b6586380-bc9f-11eb-8cfc-aec4e7f5698a.png)

Here's mine:
![image](https

[2021-05-24 14:00] Gerstmann-Bradley commented on #1732
There are many factors that maybe causing your issue, such the position and scale of your empty, along with many parameters.
Unfortunately It's difficult for me to know what exactly causes your result different from tutorial. I am neither the person who came up with this tutorial.
I guess you have to tweak and investigate by yourself.

[2021-05-24 14:22] RivalC70 commented on #1732
Sorry, the interpolation was connected a second or two after I screenshotted it.

I appreciate the help so far as it's gotten me further into the tutorial! I closed and re-opened it (Without saving) did the fixes you suggested beforehand however the only thing I did was scale the empty down and that's seemed to do it...? I'm not sure why they've disappeared now?

![image](https://user-images.githu

[2021-05-24 20:47] Gerstmann-Bradley opened #1733 "Mix series of Node showing Red Bar Error once in Vectorized Form."
A weird case I see pretty often. It presents in nearly every Mix Node. (Mix Vector, Mix Euler, Mix Color...)
Is this expected behavior?

Win 10.
Nearly Latest AN.
![image](https://user-images.githubusercontent.com/55994236/119405560-700b0080-bcaf-11eb-93fb-9290a49ba95a.png)

[2021-05-24 21:07] OmarEmaraDev commented on #1733
Fixed in 75175ce. Thanks for the report!

[2021-05-24 21:07] #1733 closed

[2021-05-24 21:10] genesis2303 opened #1734 "Not sure if a bug, but those are no redbars, and nodes don't work like they should."
Bug is in 02:49, haven't seen this before.
https://streamable.com/uu93zi
Restarting blender as usual helped, but this one I haven't seen yet.

[2021-05-24 21:10] OmarEmaraDev commented on #1723
I don't think we will be adding such a guarantee. Sorry.
Let me know if you need help in constructing something though.

[2021-05-24 21:10] #1723 closed

[2021-05-24 21:13] OmarEmaraDev commented on #1734
Seems like Animation Nodes stopped working completely. Were there any errors in the terminal?

[2021-05-24 21:26] genesis2303 commented on #1734
I didn't go to terminal, just restarted blender it helps with redbars and this seemed similar.

[2021-05-24 22:11] genesis2303 commented on #1734
When this error showed I was using Blender alpha from last Friday, and latest Extra nodes. Other than that I was using rigid body, and moved key frames before 0 on timeline. I saw it first time, but I'll try to reproduce it tomorrow.

[2021-05-25 09:08] genesis2303 commented on #1734
Reproduced it:
1. I dropped the object with rigid body on the plane.
2. I baked dynamics.
3. Called object id key node and it's dark gray not working properly just like earlier.

In terminal, I don't see anything AN related just Sverchock errors and polygon material add-on errors.

[2021-05-25 10:03] OmarEmaraDev commented on #1734
Does this happen with official AN?

[2021-05-25 10:12] genesis2303 commented on #1734
Just tried it, and no, so it would be extra nodes, or bluefox extension issue.

[2021-05-25 10:36] genesis2303 commented on #1734
Weird after installing Official AN and next getting back to Extra nodes I can no longer reproduce it.

[2021-05-25 11:07] OmarEmaraDev commented on #1734
I am not sure if Extra nodes or Bluefox do anything special, so I am not sure about this issue.

[2021-05-25 12:55] genesis2303 commented on #1734
Well I'm sure it exists, I can't make up code, but to reproduce it I have to repeat a lot of steps. I don't always work with simple example, it sometimes shows up, sometimes not. I cut quite few letters since yesterday to spot it.
[code]

[2021-05-25 12:58] OmarEmaraDev commented on #1734
What if you disable Animation Nodes during baking?

[2021-05-25 13:11] genesis2303 commented on #1734
Auto execution or AN add-on completely?

[2021-05-25 13:30] OmarEmaraDev commented on #1734
Auto execution.

[2021-05-25 13:33] genesis2303 commented on #1734
Disabled autoexecution, during bake terminal says this, but I don't see baking entry despite in other time it was.
[code]

[2021-05-25 13:35] OmarEmaraDev commented on #1734
Are you sure it is disabled? The `frameChangedPost` handler executes upon frame changes if auto execution is enabled, which is shown here.

[2021-05-25 13:51] genesis2303 commented on #1734
This time should be turned off:

https://i.imgur.com/jRd9bj3.png

Before I bake nodes are normal.

`location: <unknown location>:-1
Python: Traceback (most recent call last):
  File "C:\Users\Gamer\AppData\Roaming\Blender Foundation\Blender\3.0\scripts\addons\sverchok-master\ui\sv_IO_panel.py", line 295, in poll
    return bool(context.space_data.node_tree)
AttributeError: 'SpaceView3D' object has

[2021-05-25 19:07] genesis2303 commented on #1734
Ok I missed two presets still working. I'm sorry I just cut too many letters today. When execution disabled completely they behave normal, and I'm able to turn execution on after baking. I tried also with just AN main tree (preset trees off) but then it comes back.

[2021-05-27 01:21] L33t-HAXXOR opened #1735 "Undefined: Undefined Socket"
Working on macOS 10.14.6 with Blender 2.93.0 and AN 2.2.2

![image](https://user-images.githubusercontent.com/31870368/119747373-3aede200-be58-11eb-8261-7d6308096808.png)

Don't know what this is or how to report it properly.
AN was working fine all this past week up until today.
I'm using 2.93.0 (alpha) with AN 2.2.2

I've attached my system specs below if that helps:
![Mac Config Oh Snap! 2020-1

[2021-05-27 06:21] OmarEmaraDev commented on #1735
Anything written to the terminal?

[2021-05-30 13:38] #1704 closed

[2021-05-30 13:38] #1703 closed

[2021-05-31 03:01] L33t-HAXXOR commented on #1735
![Sin título](https://user-images.githubusercontent.com/31870368/120133671-2f6d2480-c192-11eb-955e-f44d0eb99a68.png)
The one in the n panel? Does not show up as a tab for some reason.
Also the console shift + F4 shows the default python text

No printout or anything:
[code]

[2021-05-31 08:53] OmarEmaraDev commented on #1735
Not the Blender console. I meant the terminal linked to Blender. Open Blender from a terminal, enable AN, and paste the output here.

[2021-05-31 09:01] Gerstmann-Bradley commented on #1735
Omar, would you explain more what "terminal" really means?

[2021-05-31 10:09] OmarEmaraDev commented on #1735
@Gerstmann-Bradley  When you open a program, the operating system creates and assigns three files to it, those files are called standard output, standard error, and standard input. When the program encounters an error, it adds some lines describing the errors at the end of one of those files, the standard error.
As developers, we want to see those errors, the easiest way to do that is to "attach"

[2021-05-31 10:12] OmarEmaraDev commented on #1735
To add, the Blender integrated console is nothing more than an interactive python shell. It can only execute python statements and evaluate expressions. It can't be used to view the standard error file. So when we say, terminal, we definitely don't mean that one.

[2021-06-03 15:07] Majoran99 opened #1736 "shape key input & output don't store selected object"
With shape key input & output nodes, selecting an object isn't stored, when closing and reopening the blend file, the selections are gone.

[2021-06-03 15:16] OmarEmaraDev commented on #1736
By selection you mean the Object input property in the node?

[2021-06-03 16:11] Majoran99 commented on #1736
yes

[2021-06-03 16:20] OmarEmaraDev commented on #1736
Can replicate that.

[2021-06-03 16:30] OmarEmaraDev commented on #1736
Fixed in 1bbcdce. Thanks for the report!

[2021-06-03 16:30] #1736 closed

[2021-06-03 16:40] Gerstmann-Bradley opened #1737 "Proposal: Vectorizing "Condition" socket in Switch Node."
Something that will be helpful instead of setting up a loop node everytime.
![image](https://user-images.githubusercontent.com/55994236/120680839-ca068580-c468-11eb-8b5f-fe471f014eb7.png)

[2021-06-05 04:17] L33t-HAXXOR commented on #1735
This is the printout when I open Blender's executable with the terminal:

Last login: Fri Jun  4 23:12:38 on ttys001
/Applications/Blender\ 2.app/Contents/MacOS/Blender ; exit;
Welcome to fish, the friendly interactive shell
Type `help` for instructions on how to use fish
username@Domain ~> /Applications/Blender\ 2.app/Contents/MacOS/Blender ; exit;
Read prefs: /Users/username/Library/Application

[2021-06-05 09:30] harisreedhar commented on #1735
@L33t-HAXXOR
It looks like you are using bluefox build of animation nodes. which is not supported for newer blender releases.
Remove this version and try using official version of [animation nodes](https://animation-nodes.com/).

[2021-06-05 11:29] krillin666 opened #1738 "Particle system - how define when splines appear and disappear"
Hi,

I've creating 5 different particle systems and defined what frame each starts and ends.
The trouble I have encountered is how to define the frame where the particle link can start and end, right now all links are starting at around frame 50.

What I am trying to obtain can be something like this:
- First particle system link - start at frame 50, stop at frame 100, continue at frame 120, end f

[2021-06-05 12:02] OmarEmaraDev commented on #1738
It depends on what you want to animate exactly. One thing you can do is slice the output splines list using parameters from an animate node.

[2021-06-05 13:16] krillin666 commented on #1738
What I am trying to animate are the particle links, hope the video helps.
I want to be able to chose in what frame these links start to appear.

Sorry for the FPS, not the best pc.

https://user-images.githubusercontent.com/60305303/120892781-d117ca00-c607-11eb-97e3-adcd984e3936.mp4

[2021-06-05 17:15] Consoli0 opened #1739 "Unable to enable animation nodes"
I'm not sure what I'm doing wrong, or if I'm on the wrong version, but I'm attempting to use Animation Nodes 2.2.2 in Blender 2.93.0 (Steam version), and I'm getting an error that gives me no information on what to do.

[code]

[2021-06-05 23:14] L33t-HAXXOR commented on #1735
![image](https://user-images.githubusercontent.com/31870368/120907757-d128c180-c629-11eb-848e-14158de59e5e.png)
This is the one I have installed you're saying it's the Bluefox version?

[2021-06-05 23:15] L33t-HAXXOR commented on #1735
@harisreedhar ^

[2021-06-06 02:44] harisreedhar commented on #1735
@L33t-HAXXOR
I'm not entirely sure,
From your error log it shows that module not found for effector, effectors are part of old bluefox build.
May it is something with your projectfile you are trying to open or something with animation nodes.
Can you do a clean install? Like removing currently installed version from blender preferences and then delete animation_nodes folder from addon directory.

[2021-06-06 15:45] L33t-HAXXOR commented on #1735
@harisreedhar
Yes I can, however I am curious if deleting the add-on for 2.93 will remove it for 2.83 as well.

[2021-06-06 15:51] L33t-HAXXOR commented on #1735
I can just delete the folder highlighted in blue?

Is that what you're talking about?

[2021-06-06 16:24] L33t-HAXXOR commented on #1735
Went ahead and deleted that folder and did a reinstall with the May 26 2021 version and that worked! No more weird errors!

Console print out:
[code]
Don't know what that last warn means though

[2021-06-06 17:18] L33t-HAXXOR opened #1740 "Node-Tabber Compatibility"
Are there any plans to make this compatible with [Node Tabber by jigglymoon69](https://github.com/jiggymoon69/node_tabber)?

I love Blender's one key shortcuts and it would be super dope to have that in AN.

As of now, the tab key brings up a blank search menu in AN.
And Node Tabber generally overrides the AN keys.
For instance, if I set the AN quick search to tab without changing the NT shortcut,

[2021-06-06 17:50] OmarEmaraDev commented on #1740
Not sure how this works at the moment. Animation Nodes uses special search functionality, so that might be problematic. I will take a look later.

[2021-06-06 17:52] OmarEmaraDev commented on #1739
Can you try manually removing the `animation_nodes` folder from the blender addon directory and installing it again?

[2021-06-06 17:53] OmarEmaraDev commented on #1738
Try animating the Max Distance parameter using an Animate Node. The start value should be one that gives no connections and the end value is the value you are after.

[2021-06-06 18:19] #1688 closed

[2021-06-06 20:52] L33t-HAXXOR commented on #1735
So now Blender is crashing on when I click "Bake" in the physics tab
console gives this output:
[code]

[2021-06-06 20:56] Gerstmann-Bradley commented on #1735
Have you tried to lock interface while Baking?

![image](https://user-images.githubusercontent.com/55994236/120939856-0ac00200-c6e8-11eb-8aff-fbca7f52a347.png)

[2021-06-06 20:56] L33t-HAXXOR commented on #1735
I have not
I will now

[2021-06-06 20:58] L33t-HAXXOR commented on #1735
@Gerstmann-Bradley
I tried that, same issue
Thank you though!

[2021-06-06 21:07] L33t-HAXXOR commented on #1735
Can I use 2.2.2 with 2.83.13? I'm still using 2.1.8 with it

[2021-06-07 00:54] L33t-HAXXOR commented on #1735
I'm going to close this issue because the Bake crash is a separate thing but it is being caused by AN. I will create a new issue for this however.

This is the crash log from 2.93

[code]

There's nothing here that indicates AN but I'm able to bake as much as I want if I deactivate AN

[2021-06-07 00:54] #1735 closed

[2021-06-07 00:57] L33t-HAXXOR opened #1741 "Baking Crash"
Blender is crashing on when I click "Bake" in the physics tab
console gives this output:
[code]

[2021-06-07 00:59] L33t-HAXXOR commented on #1741
This is the crash log in 2.93
[code]
I do not experience crashes when I deactivate AN

[2021-06-07 14:13] OmarEmaraDev commented on #1741
Can you attach the `rocket_023.crash.txt` file here?

[2021-06-08 01:44] L33t-HAXXOR commented on #1741
This one?
[I mades a rocket_023.crash.txt](https://github.com/JacquesLucke/animation_nodes/files/6612915/I.mades.a.rocket_023.crash.txt)

[2021-06-08 06:21] OmarEmaraDev commented on #1741
@L33t-HAXXOR Yes. Blender is crashing on depsgraph evaluation. This seems like the same problem users have. Are you sure it still crashes with locked UI? Do you have multiple scenes?

[2021-06-08 06:23] Gerstmann-Bradley commented on #1741
Or I think you may bake everything into keyframe, disable AN and then bake physics.

[2021-06-09 01:13] L33t-HAXXOR commented on #1741
I only have the one scene and I have tested it with locked UI enabled
A weird thing (that I can't reliably reproduce) is that in 2.93, if I spam the process enough (reopening Blender, clicking Bake), it will indeed bake on the last try

However the drivers I have attached to my object constraints only present in the sliders they are attached to but do not move the physical objects in viewport

For

[2021-06-09 01:14] L33t-HAXXOR commented on #1740
Thank you!

[2021-06-09 04:46] asustnt3 commented on #1725
I get this problem, but i don't know how to have it enable...
Can i have a bit of detail?

[2021-06-09 05:11] asustnt3 commented on #1725
![image](https://user-images.githubusercontent.com/19390719/121296961-1c8de900-c924-11eb-8501-480e3648b0dd.png)

[2021-06-09 10:05] OmarEmaraDev commented on #1741
Can you share a minimal file to reproduce the issue?

[2021-06-10 18:16] #1739 closed

[2021-06-12 17:30] Durman commented on #1309
I've recently finish with a module for Sverchok which can convert node trees into json files and add nodes from json files into a tree. Probably you could reuse something

https://github.com/nortikin/sverchok/blob/70701ad1ea8c0585108015bb053483351737c65a/utils/sv_json_struct.py

[code]

[2021-06-12 20:19] L33t-HAXXOR commented on #1741
[I mades a rocket_023.blend.zip](https://github.com/JacquesLucke/animation_nodes/files/6642844/I.mades.a.rocket_023.blend.zip)

[2021-06-12 21:44] Gerstmann-Bradley opened #1742 "Whole Animate Series show the name as "Animate Float""
A minor bug I guess.

![image](https://user-images.githubusercontent.com/55994236/121789679-c62fdd00-cba5-11eb-8eaf-acc21dfd184a.png)

[2021-06-13 07:13] OmarEmaraDev commented on #1742
Fixed in 27ef492. Thanks for the report!

[2021-06-13 07:13] #1742 closed

[2021-06-14 14:14] Gerstmann-Bradley opened #1743 "Red Bar Error when Inputing Spline list into Spline Falloff"
![image](https://user-images.githubusercontent.com/55994236/121906566-3b5ff700-ccf9-11eb-8ea3-8b363bfe4a74.png)
![image](https://user-images.githubusercontent.com/55994236/121906680-57639880-ccf9-11eb-8241-8a49b80b4aef.png)

[2021-06-14 14:34] OmarEmaraDev commented on #1743
Fixed in b187339. Thanks for the report!

[2021-06-14 14:34] #1743 closed

[2021-06-15 09:57] OmarEmaraDev commented on #1741
@L33t-HAXXOR I can replicate the crash. It seems Blender force lock the UI all the time, so that's probably not the problem. We hit an assert immediately in the AN thread through, so that might give us a hint. I will have to look into this in more details later. But it probably will not be an easy fix.

[2021-06-16 11:30] Gerstmann-Bradley opened #1744 "Proposal: remove clamping of random falloff's input"
the minimum and maximum value is restricted in 0-1 range. even by typing it's not possible to get values beyond.
sometimes it forces users to use "random number+custom falloff" instead.
![image](https://user-images.githubusercontent.com/55994236/122211022-455a3500-ce74-11eb-8004-f2820dc06611.png)

[2021-06-16 14:17] OmarEmaraDev commented on #1744
Done in d30d525.

[2021-06-16 14:17] #1744 closed

[2021-06-17 16:12] lynerlok opened #1745 "Possible error in documentation – code developper guide"
Hello,

I try to expand animation node with a new node to enable microphone capture in real-time. I think I found an error in the code here :
[Developper guide - dynamic sockets](https://docs.animation-nodes.com/developer_guide/node_development/dynamic_sockets/)

Line 19 of the full code snippet there is :
[code]
But in Python if you want to add this type of variable in `self`, it's :

[code]

Two

[2021-06-21 22:26] Gerstmann-Bradley opened #1746 "AN-Generated Mesh's keyframe data isn't preserved in render."
Animation is observable in the viewport but not render. Is this related to #1652?
![image](https://user-images.githubusercontent.com/55994236/122835292-143b9380-d2be-11eb-9598-e543c205b2fc.png)
[Generated Mesh.zip](https://github.com/JacquesLucke/animation_nodes/files/6689798/Generated.Mesh.zip)

[2021-06-22 17:54] OmarEmaraDev commented on #1746
Yes. Seems to be identical to #1652.

[2021-06-26 20:00] L33t-HAXXOR commented on #1741
Thank you for looking into it!

[2021-06-30 11:09] OmarEmaraDev opened #1747 "v2.2 for Blender 2.93 LTS Release"
We need to release a new version v2.2 for Blender 2.93 LTS. Note that this version uses Python 3.9, which will be our only supported version. This issue outlines the work needed to do the release.

# Documentation

- [x] v.2.2.0
  - [x] Release notes.
  - [x] Node Reference.
- [x] v.2.2.1
  - [x] Release notes.
  - [x] Node Reference.
- [x] v.2.2.2
  - [x] Release notes.
  - [x] Node Reference.

D

[2021-06-30 11:12] OmarEmaraDev commented on #1747
As far as I remember, the main contributors to this release are @3DSinghVFX, @harisreedhar, and @kdsin23. Let me know if you can help with the preparations for the release.

[2021-07-01 01:47] #1732 closed

[2021-07-01 07:05] 3DSinghVFX commented on #1747
@OmarEmaraDev I'll help with the release. Can you please let me know the tentative date of the release?

[2021-07-01 07:43] OmarEmaraDev commented on #1747
@3DSinghVFX Work will be done in the master branch. The only reason I put the subversions above is to organize things and track progress. There is no specific release date, we will release once we are ready, so no hurry. I believe you have commit access, so you can commit directly, open a pull request when it doubt. Other developers can open pull requests.

[2021-07-01 08:23] harisreedhar commented on #1747
@OmarEmaraDev Sure i can help with the release.

[2021-07-01 09:11] 3DSinghVFX commented on #1747
@OmarEmaraDev  Okay, thanks for the information.

[2021-07-01 13:01] mathiaskula opened #1748 "Particle system - how to use Mantaflow fluid simulation particles in AN"
Hi!
I've run a FLIP liquid simulation with Mantflow and would like to use the particles from the simulation with AN - is this possible?
![AN_particle_systems_emitter_vs_fluid_sim](https://user-images.githubusercontent.com/78308826/124127537-2070df00-da7c-11eb-8e96-6141fc9e5e22.jpg)
The attached image shows a plane with a default emitter vs a fluid sim - the setup works just fine for the emitter pl

[2021-07-01 13:24] OmarEmaraDev commented on #1748
Not sure why it didn't work for you. But I just added support in 73804bb. Wait a couple of minutes and download a new build and it should work.

[2021-07-01 13:24] #1748 closed

[2021-07-01 14:27] mathiaskula commented on #1748
Thanks! It seems to work now... I must have made some mistake. //Mathias

Den tors 1 juli 2021 kl 15:24 skrev Omar Emara ***@***.***>:

[2021-07-02 11:59] #1734 closed

[2021-07-02 14:24] Azagwen opened #1751 "lastest doesn't work in 2.93"
I had the addon installed previously, but the editor wasn't showing up, so I thought I might need the latest build, so I un-installed it and re-added it (latest 2.2.2 for py3.9), but I couldn't even activate it, it gave me this

![image](https://user-images.githubusercontent.com/30528331/124288833-ec67ed80-db51-11eb-9847-46cff60a0861.png)

Is there anything I could try to make it work again ?

[2021-07-02 17:01] OmarEmaraDev commented on #1751
Can you attach whatever was printed in the terminal?

[2021-07-02 22:15] droddy386 opened #1752 "Bug Report Running animation nodes with Shipwright"
Traceback (most recent call last):
  File "C:\Users\drodd\AppData\Roaming\Blender Foundation\Blender\2.93\scripts\addons\animation_nodes\execution\main_execution_unit.py", line 38, in executeUnit
    exec(self.executeCodeObject, self.executionData, self.executionData)
  File "execution: 'Shipwright Generator'", line 13, in <module>
  File "group: 'Shape Generator Group'", line 42, in main
  File "

[2021-07-02 22:52] Azagwen commented on #1751
from the "Blender info Log" window

[code]

[2021-07-02 22:55] Azagwen commented on #1751
I closed Blender after it happened, and now I'm unable to reproduce it 😢

[2021-07-03 09:20] OmarEmaraDev commented on #1752
Shipwright doesn't seem to be compatible with the latest version of Animation Nodes, because change the attribute API. We are doing a release soon, so I guess the addon will be updated then. Either way, you should notify the developer of Shipwright instead. As for the tests, I will fix those, but they are not related to your problem.

[2021-07-03 09:20] #1752 closed

[2021-07-03 09:21] OmarEmaraDev commented on #1751
So Animation Nodes is working correctly right now?

[2021-07-03 11:34] droddy386 commented on #1752
Understood.  Problem solved.  Thanks.
On Jul 3, 2021, 5:21 AM -0400, Omar Emara ***@***.***>, wrote:

[2021-07-04 15:51] marcan commented on #1747
Any chances of getting an arm64 (Apple Silicon) macOS build too? I'd be happy to help with the build if needed, since I have the hardware.

[2021-07-06 06:16] Netzahualcoyotl opened #1754 "Simultaneous Dynamic and Animated on Physics properties is not working simultaneously"
Issue
If you select the physics properties of the cube on Settings Box Dynamic and simultaneously select the box Animated the Animation nodes module does not pass to the same time of global simulation the result of Dynamic and Animation

[https://gitlab.com/Internetza/blenderanimationsscriptphysicsrender/-/blob/master/AnimationExample.blend](url)

[2021-07-06 10:10] OmarEmaraDev commented on #1754
I am not sure what you mean exactly. Can you clarify?

[2021-07-06 16:11] Netzahualcoyotl commented on #1754
Hope this video can explain a little better
https://youtu.be/jhJELGC8Syk

[2021-07-06 20:49] OmarEmaraDev commented on #1754
As far as I know, this is an expected behavior. When Animation is enabled, the physics engine no longer updates the object, and it starts updating again when it gets disabled using the previous known velocity and angular velocity of the object. This is only possible if you have keyframes.

[2021-07-06 21:55] Netzahualcoyotl commented on #1754
The problem is:
    Supouse you have the transformation of translation used by the animation then the physics is not updating the position of the object. but when the transformation end, the physics need to start calculating from that point to the next future points.
  But the boxes of physics and Animation need to stay selected because the functions of the animations starts and finish on any time

[2021-07-06 22:17] Gerstmann-Bradley commented on #1754
Since this is more of blender's issue about its physics.
To me this more seems to be a blender proposal, you may need to go to right-click select instead.

Nevertheless to solve your particular problem within that particular blender file.
You may create another object without physics, but has constraint to the one that has physics.
For example it may copy transform from the rigid body object, whil

[2021-07-06 23:46] Netzahualcoyotl commented on #1754
The module Animation Node manage the time when one function of Animation Node start and end and when one function of Animation Node ends need let the function of physics start, that manipulation is made of Animation Node not by blender.

[2021-07-06 23:52] Gerstmann-Bradley commented on #1754
But the core issue stems in Blender design of its physics.
Whether you are using AN or not, you are having the same problem. This issue isn't unique to AN but blender itself.
Also, the previously mentioned workaround is still applicable, by creating an addition object that doesn't involve physics.

[2021-07-07 00:05] Netzahualcoyotl commented on #1754
Did you can made your alternative at the file please?

[2021-07-07 00:12] Gerstmann-Bradley commented on #1754
[AnimationExample SHOWN.zip](https://github.com/JacquesLucke/animation_nodes/files/6773405/AnimationExample.SHOWN.zip)

This is using your file.

[2021-07-07 00:47] Netzahualcoyotl commented on #1754
Ok, thank you for your alternative, I am simulating it, but when the box spinning is down the box does not continue moving about the friction on the floor, is that as supposed?
https://youtu.be/kcPJkPjsgFg

At the end of why a want that functionality is to make conveyors like is made here
https://www.youtube.com/watch?v=yOXUph9W5Oc&list=PLkjy3Accn-E59daIG9X87pRAb5trbUPYZ&index=10
https://www.youtu

[2021-07-07 01:03] Gerstmann-Bradley commented on #1754
Sorry, I'm not sure what you did in your example and what you want to do exactly with your examples.

But as mentioned earlier:

but again you should talk with blender dev instead.
Also I wonder how other software, such as Autodesk, C4D, Houdini, handles this question.

I can only tell that if you want "**animate and simulate at the same time**",
I think this is really a blender issue instead of A

[2021-07-07 01:21] Netzahualcoyotl commented on #1754
Ok, gracias

[2021-07-08 08:22] neuro-81 opened #1755 "AN - Blender 2.93.0 - Mac M1 Build - Not able to activate the Add-On"
I am not able to get AN to Add-On in the M1 Version of Blender 2.93.0
BigSur 11.4
AN Version: animation_nodes_v2_2_macOS_py39

I get the following error:

<img width="743" alt="Blender_AN_Error" src="https://user-images.githubusercontent.com/68710774/124888207-81784580-df9b-11eb-904f-fd75407cc38e.png">

[2021-07-08 08:53] OmarEmaraDev commented on #1755
That build is an x86 build for older MacOS. But M1 builds for MacOS11 will be release soon starting from the next release, until then, I think you can run this build through Rosetta.

[2021-07-08 08:53] #1755 closed

[2021-07-08 14:23] neuro-81 commented on #1755
Thanks, I don't have the option to open Blender in Rosetta from the "Get Info" tab.
How would I go about running the add on using Rosetta?

Any ETA on next release date?

Thank you!
-ML

[2021-07-08 14:52] neuro-81 commented on #1755
Okay - I'm good to go until your Apple Silicon Release. I had to download the Intel Version of Blender.

[2021-07-09 06:40] OmarEmaraDev commented on #1740
Have you tried changing the shortcut of this key map item to Tab? Note there is a different key map item for normal search, this one is specific to Animation Nodes.

![20210709-083839](https://user-images.githubusercontent.com/25300994/125034644-1c068080-e091-11eb-9480-dc222b8a175a.png)

[2021-07-13 07:04] harisreedhar opened #1756 "Blender crashes while creating new object using mesh object output node"
Blender : 3.0.0 alpha
Animation Nodes : 2.2.2
OS : Linux Mint 20.1

To reproduce crash:
https://user-images.githubusercontent.com/46858047/125406272-467c7480-e3d6-11eb-8636-b2db8de54288.mp4

[code]

[2021-07-13 07:33] OmarEmaraDev commented on #1756
I can't replicate that myself, maybe we have different Blender version. But the only AN call here is the object creation one, since the mesh socket's isUsed property is deactivated. Can you execute this and see if Blender crashes?

[code]

[2021-07-13 09:03] harisreedhar commented on #1756
@OmarEmaraDev This script works fine and no crash when isUsed property is enabled
I feel like it is related to context, without 3d viewport it works.

https://user-images.githubusercontent.com/46858047/125423692-41ea805a-4bda-45fc-9964-65aac8cac63b.mp4

[2021-07-13 09:14] OmarEmaraDev commented on #1756
The crash happens in the mesh drawing code, and it follows that if you don't draw the mesh, the crash won't happen, so not necessary related to context. I will try to compile latest master and test again soon.

[2021-07-13 09:20] harisreedhar commented on #1756
@OmarEmaraDev No crash on blender  2.93.1

[2021-07-14 03:15] #1738 closed

[2021-07-21 15:12] OmarEmaraDev commented on #1756
I can replicate the crash on latest master.

[2021-07-21 18:55] gerroon opened #1757 "Crash when calling hide_render/viewport inside a loop"
Hi

I am getting repeated crashes when I use a script node inside a loop that disables all the objects in a collection. I am attaching a sample scene that can repeat the crash.

I am using Windows 10, AN 2.2.2 and Blender 2.93 release (the issue is there with 3.0 as well)

![blender_6Y0PpfvJ2i](https://user-images.githubusercontent.com/8519469/126543848-73828795-a3d3-4dab-b0f9-f1376deba089.jpg)

[

[2021-07-22 09:46] OmarEmaraDev commented on #1757
I can replicate that. I will investigate.

[2021-07-22 18:24] gerroon commented on #1757
The interesting thing is that it does not crash if you just enable disable single objects fed by the AN loop. This crash happens only when there is a loop that processes a whole collection inside the loop.

[2021-07-26 02:40] BigPhattyVW commented on #1751
I just had this error too, and even looked at the terminal window to copy. But I forgot to...

However, I restarted Blender and tried to enable animation nodes again and everything went fine!

Just created this account to fill y'all in.

[2021-07-26 20:23] OmarEmaraDev commented on #1757
Unfortunately, this turned out to be a limitation in Blender documented in the [Gotchas](https://docs.blender.org/api/current/info_gotcha.html#unfortunate-corner-cases) section. In particular, to quote:

So you can't iterate over the objects and adjust those properties at the same time.

[2021-07-26 20:23] #1757 closed

[2021-07-26 23:57] derekcbr opened #1758 "Animation_nodes can not load,ModuleNotFoundError: No module named 'animation_nodes.sockets'"
![Uploading ansocket.png…]()

ModuleNotFoundError: No module named 'animation_nodes.sockets'

[2021-07-27 00:14] gerroon commented on #1757
@OmarEmaraDev

Thanks for the finding, it makes sense. I am glad it is not Animation Nodes.

[2021-07-27 01:05] #1758 closed

[2021-07-27 11:48] OmarEmaraDev commented on #1756
The crash is caused by or is affected by the keyframes that are inserted in the mesh ID. Disabling Ensure Animation Data in the Advanced Node Settings is a workaround at the moment. I can't replicate externally, so that's a bit problematic, we may eventually implement a workaround.

[2021-07-29 09:41] OmarEmaraDev commented on #1756
Fixed in 94be05e. Thanks for the report!

[2021-07-29 09:41] #1756 closed

[2021-07-30 04:54] #1746 closed

[2021-07-30 17:31] Gerstmann-Bradley opened #1766 "BUG: Decompose Text Node "can't load (second) font""
You can select and load the first font (let's say font-A),
but if you change your font, any following font (font B, C, D, E, F, G) won't be able to be loaded. The bug exist across "Decompose Text Node", meaning if you create a new the same node, it will have the same error to font B, C, D...
The problem doesn't present in text object output, not only you don't have warning, but also it works corre

[2021-07-30 17:54] OmarEmaraDev commented on #1766
Seems to be working fine here. Did this start happening after updating Blender or something?

[2021-07-30 17:56] Gerstmann-Bradley commented on #1766
I am using 2.93.0 and latest AN. I will update 2.93.1 and 3.0 to see how it goes.

[2021-07-30 18:40] Gerstmann-Bradley commented on #1766
Occurring to me in both Blender Version as well.

[2021-07-30 19:21] OmarEmaraDev commented on #1766
Can you open the Blender console and try the following multiple times with different fonts (Replace `<path>` with the path to the font):

[code]

Does any of the commands print -1? And are the fonts packed into the blend file?

[2021-07-30 19:36] Gerstmann-Bradley commented on #1766
![image](https://user-images.githubusercontent.com/55994236/127702909-7bb42021-0060-4205-b916-6b89ba2351e5.png)
![image](https://user-images.githubusercontent.com/55994236/127703053-f3c1ed54-34ac-466d-a0e7-b0324c5a43db.png)

I think this is irrelevant to AN. If I just play the console, I can succeed the first time, but second time it will always return -1.

[2021-07-30 19:46] tacopancakes opened #1767 "Invalid Network when sending a custom property to another object while in a loop"
I am trying to setup a multi MVC pattern of multiple instanced Controller objects with grouped receiver objects, so the Controller object holds custom properties and sends a trigger of sorts at some point in time to its grouped receivers. In these screen shots I just show one for each

I do this game design via code all the time via arrays and loops. But am trying to figure out how to get it done

[2021-07-30 20:08] OmarEmaraDev commented on #1766
Can you check the console? Blender should print an error once you get a -1.

[2021-07-30 20:10] Gerstmann-Bradley commented on #1766
would you tell me how to do that exactly? wasn't I already showing the console? Or you mean see the error using command?

[2021-07-30 20:13] OmarEmaraDev commented on #1767
I don't fully understand what you are trying to do, but the reason why your network becomes invalid is the fact that the network now have two Loop Input nodes. If you are trying to nest them, then you need to invoke the inner loop in the outer one, not include the loop definition in the other loop.

[2021-07-30 20:14] OmarEmaraDev commented on #1766
I mean the terminal/console you open from Window -> Toggle System Console.

[2021-07-30 20:24] Gerstmann-Bradley commented on #1766
It says "Too many fonts!!!".
![image](https://user-images.githubusercontent.com/55994236/127708016-65ec5306-0fbb-49ba-8770-57b121facf05.png)
![image](https://user-images.githubusercontent.com/55994236/127707996-22705370-166b-4789-ba6a-b70897b04dc8.png)

[2021-07-30 20:31] OmarEmaraDev commented on #1766
It seems Blender only allow up to `BLF_MAX_FONT = 16` fonts to be used, so you will have to reduce the number of fonts you use.

[2021-07-30 20:33] tacopancakes commented on #1767
Do the loops not happen at the same time? Its not obvious that the tree has an order for various loops, nor do I see a way to invoke a subprogram outside of the root, they dont have a switch or trigger input.

I am simply trying to feed data from one object to another. Not a complex concept. Now in code yes I would have the for loop happen in the Controller but ownership is not a concept here asid

[2021-07-30 20:34] Gerstmann-Bradley commented on #1766
i'm only importing the second font in all cases. So i'm not sure where other fonts come and how to solve this issue.

[2021-07-30 20:41] OmarEmaraDev commented on #1767
In this case, you don't need two loops. Use one loop with two iterators, one iterator for the controller objects and another iterator for the receiver objects.

[2021-07-30 20:48] OmarEmaraDev commented on #1766
Maybe another add-on is loading those fonts? Try disabling all add-ons temporarily, restart Blender, see if the problem is fixed. If it is, then one of the add-ons is probably the culprit.

[2021-07-30 21:21] tacopancakes commented on #1767
Ehhh~ I guess. I had not considered the loop to be coupled with multiple iterators instead of invoking another loop later down the chain. I still find the invocation and order a bit misleading or so. Anyway your suggestion looks to work so ill consider this solved but the original issue remains as a design limitation i view.
Thank you

[2021-07-30 22:57] deanemorris opened #1768 "Can't enable animation nodes - macOS - Blender 2.93"
Blender 2.93 LTS
MacOS Catalina 10.15.7 (19H1323)
When I try to enable animation nodes (latest build - July 30, 2021):

Traceback (most recent call last):
  File "/Applications/Blender/Blender 2.93.0 LTS/Blender.app/Contents/Resources/2.93/scripts/modules/addon_utils.py", line 386, in enable
    mod.register()
  File "/Users/deanemorris/Library/Application Support/Blender/2.93/scripts/addons/anima

[2021-07-30 23:30] #1768 closed

[2021-07-30 23:31] deanemorris commented on #1768
Sorry... This should have been for the 3DSinghVFX fork.
I am just trying to get animation nodes running in Blender 2.93LTS and I can't find a way to do it.
I am giving up.

[2021-07-30 23:33] Gerstmann-Bradley commented on #1766
The issue occurs in factory setting. I am still not sure what's the reason. But this is just a random issue I found in free time. Hope it will be fixed by itself some day...

[2021-07-30 23:33] #1766 closed

[2021-07-31 11:19] #1767 closed

[2021-08-03 11:59] juangea opened #1770 "Latest build refuses to install in Blender 3.0 alpha from 02/08/2021 in Macos"
So I got a MacOS build for Py39, tried to install it on Blender 3.0 alpha, and it gives me this error:

![image](https://user-images.githubusercontent.com/20524718/128011560-7e5f030b-46ed-451e-81d3-2fff95833a80.png)

I'm not MacOs BigSur 11.4, in a MacBook Pro M1.

[2021-08-03 12:08] OmarEmaraDev commented on #1770
Is that an ARM Mac?

[2021-08-03 13:27] juangea commented on #1770
Yep, the M1 is the ARM processor

[2021-08-03 14:11] OmarEmaraDev commented on #1770
The builds we have now are x86, so they will not run on the M1 Mac. Arm support was added in #1753 but we currently don't have any builds because our cloud pipeline doesn't have M1 Mac runners yet. So, unfortunately, you will have to build AN yourself, run Blender under rosetta, or wait until we prepare a build for the M1 Mac.

[2021-08-03 14:11] #1770 closed

[2021-08-03 14:55] juangea commented on #1770
Ok, no problem, I was suspecting this, thanks!

[2021-08-04 13:08] dapa5900 opened #1771 "Proposals: Usability and Quality of Life Improvements"
Hi @OmarEmaraDev

Having now worked on a couple of projects I have to say I'm really impressed with what you can achieve with Animation Nodes, so first of all thank you a lot for developing this amazing piece of software!

However I do have also a couple proposals for some usability/quality of life improvements that I would like to collect here:

1. Set the "Auto Execution" by default to these val

[2021-08-04 14:37] OmarEmaraDev commented on #1771
@dapa5900 Glad to see you found Animation Nodes useful. :)

1. I was just working on this in #1769. You should drop a comment there.
2. In case you didn't know, there is an operator in the Advanced Node Settings that creates triggers automatically as you are suggesting. If you mean completely automatically, I am not sure how this might work. When should this automatic trigger creation happen? When

[2021-08-04 15:49] dapa5900 commented on #1771
@OmarEmaraDev

1. Ah cool! Yeah I guess this would be the best solution as it will then probably also cover all the things that usually would need a manual trigger (as in point 2). That's still WIP, right? What do you think when this will be available?
2. No, I didn't know about this feature but I just tried it and it's already very helpful. Thanks for the tip. But as just said, this point should

[2021-08-04 16:27] OmarEmaraDev commented on #1771
@dapa5900

1. The feature is mostly done. I just don't want to merge it in this version. I will wait until we release v2.2 then merge it for v2.3.
2. Good.
3. It is nice to see that in practice in other software. But I am not completely sure how they handle all cases. Suppose there are two execution units (Two unconnected networks in the node tree), one of them exports the wireless link A and impo

[2021-08-05 06:25] 3DSinghVFX commented on #1771
@OmarEmaraDev

Omar, if we share the pointer of the parent node (or its socket) in the instance node then I think it may be possible, isn't it?

[2021-08-05 07:44] OmarEmaraDev commented on #1771
@3DSinghVFX Sure, it should be possible. But you are trying to implicitly connect to execution units, introducing lots of complications on the way, like the ones I just mentioned.

[2021-08-05 08:23] 3DSinghVFX commented on #1771
Okay.

[2021-08-05 08:38] dapa5900 commented on #1771
@OmarEmaraDev

1. Ok, cool. When is the release of these versions? Is there a roadmap that I can follow somewhere, also regarding planned features etc.?
2. done ;)
3. I'm not sure I understand the scenario but I guess worst cause would be that you just get an error like right now, when a loop is not working and you get this red frame around the AN node editor... As for the Instance Copy version th

[2021-08-05 08:47] dapa5900 commented on #1771
@OmarEmaraDev

I just found a tutorial that is showing how this works: https://youtu.be/vUPPpxCqP7I

You can't see it in the video but the bike is actually only one object.

This video is also showing the workflow how this object is working with multiple already existing objects and their respective transforms in a scene. So basically if you group all objects under this object is similar to how in

[2021-08-05 08:53] dapa5900 opened #1773 "Proposal: Collection Mode for Object Instancer Node"
Hi @OmarEmaraDev

as mentioned in #1771 it would be great if you could implement a collection mode to the object instancer node with the same functionality as the point instance node in Geometry Nodes provides:

https://user-images.githubusercontent.com/75205162/128321733-5743d148-418b-404c-91dc-8bb55d074133.mp4

Maybe this node would then need to be renamed to just "Instancer"

Thank you!

[2021-08-06 08:39] OmarEmaraDev commented on #1771
@dapa5900 I get what you want to do. It seems the first step would be to get #1578 done regardless.

The release is done, we are just writing documentation and release notes. Hopefully this should be done in a week. We don't really organize things in a road map. We do a release every year, aligning with an LTS release, everything that goes in that period will be in the release.

[2021-08-07 02:09] Pyrax commented on #1751
I can second that - good old restart of Blender fixed it for me as well.

Can't reproduce it afterwards either.
My approximate steps when the issue was happening:
- I was working with the Sequencer
- Then tried to install Animation Nodes but chose the wrong Python version for the plugin first (3.7), removed it and then installed for 3.9.
- Exception occured when trying to activate the plugin
- Aft

[2021-08-07 07:20] CC-4477 commented on #1240
do you happen to know which build it was? I'm getting the same issue.

[2021-08-07 15:52] OmarEmaraDev commented on #1773
Isn't this already possible? For collection instancing, you just select a collection instance as the source object and check Full Copy. For individual objects mode, you use a random list node with a copy object data node. So I wounder if this is really necessary?

[2021-08-07 18:24] Gerstmann-Bradley commented on #1773
another note is that you can easily export your data to GN and use GN to instance. In such a case the performance will be much applaudable.

[2021-08-08 17:45] dapa5900 commented on #1773
@OmarEmaraDev @Gerstmann-Bradley

Sure, it's possible but imo it's not very obvious how to do this, especially for new users. In every tutorial you see how to instance single objects using the instancer node so I'd expect, similar to geometry node's approach, that you can either use the instancer node directly to instance multiple source objects from a collection at once or at least it would work

[2021-08-10 08:33] OmarEmaraDev commented on #1773
@dapa5900 Okay. We will work on this after the release as we are currently in a feature freeze.

[2021-08-14 06:34] #1754 closed

[2021-08-15 12:13] OmarEmaraDev commented on #1726
I looked at this many times and I would just say this file is either corrupt or non standard conforming.

A hex dump of the first part of the the first track is as follows:

[code]

Which is parsed as follows:

[code]

I looked all over for this `0a` meta event and I found nothing, so I will just close this, if anyone known anything about this, let me know and we will look into it.

[2021-08-15 12:13] #1726 closed

[2021-08-15 16:03] Hansimov commented on #1726
@OmarEmaraDev Thanks for your great efforts!
I also guess that it is not a standard format, although it can be played by some MIDI players like Synthesia.

[2021-08-15 16:13] iyadahmed commented on #1726
Idk if these help, don't know much about MIDI
https://stackoverflow.com/questions/43321950/synthesia-plays-well-midi-file-without-any-note-off-event

http://www.music.mcgill.ca/~ich/classes/mumt306/StandardMIDIfileformat.html
Appendix 1.2 - Table of MIDI Controller Messages (Data Bytes)
![image](https://user-images.githubusercontent.com/25552173/129485043-c6ed8298-98ef-44fc-b7b3-e96e22efe92e.png)

[2021-08-15 16:20] OmarEmaraDev commented on #1726
@iyadahmed Controller events are Channel events, not Meta events, so their status byte has to be `Bn`, which is not the case here. So this table is not exactly relevant to our case.

@Hansimov This unknown event does provide its length, so a possible solution is to just ignore all of its bytes and jump to the next event. Since meta events don't affect running status, this should have no effect on

[2021-08-15 17:01] iyadahmed commented on #1726
ah ok got it

[2021-08-15 20:24] #1740 closed

[2021-08-16 11:47] OmarEmaraDev commented on #1747
Hi @marcan, can you create an ARM build from the `v2.2-for-blender-v2.93` branch?

[2021-08-18 14:43] marcan commented on #1747
I made a build and it seems to run fine, but the test suite has a bunch of failures, all of this form:

[code]

[2021-08-18 14:49] marcan commented on #1747
Nevermind, it seems I had something left over from an old install...

[2021-08-18 15:01] marcan commented on #1747
Here you go! https://mrcn.st/t/animation_nodes_v2_2_macOS_py39.zip

[2021-08-18 15:13] OmarEmaraDev commented on #1747
Thanks @marcan!

[2021-08-18 15:13] #1747 closed

[2021-08-19 20:35] eTaernis opened #1775 "Get Spline Length ignores unit scale"
The result of the Get Spline Length node does not take into account the unit scale.
Could this be fixed please?

[2021-08-19 20:43] OmarEmaraDev commented on #1775
What do you mean by "unit scale"?

[2021-08-19 23:02] eTaernis commented on #1775
Scene Properties - > Units -> Unit Scale
the global multiplier for all object dimensions. Can be used e.g. to match all dimensions to the measurements of a reference object.

Unfortunately, the unit scale can't be applied afaik. So if the unit scale is not 1, I would have to multiply the result of the Get Spline Length node with the unit scale to get the actual length.

[2021-08-20 08:16] OmarEmaraDev commented on #1775
I see. But I don't think the node should take this into account. We are basically adding a dependency on a scene for an operation that doesn't really need it. I think this should be left to the user.

[2021-08-22 20:57] Majoran99 opened #1776 "Transform Mesh: random choice of Meshes"
With "Transform Mesh" one can multiply a given mesh and distribute the copies on given vector points.
("Transform Mesh" is much CPU-cheaper than object instancing.)
One can also enter a mesh list, then all the meshes from the list are copied sequentially. It would be great to also have the option that randomly elements from that mesh list are taken.
![Image2](https://user-images.githubusercontent.

[2021-08-23 07:27] Majoran99 commented on #1776
Ok I see with the random list node it is possible. Can be closed.

[2021-08-23 09:08] #1776 closed

[2021-08-23 15:05] blanchsb commented on #1240
Is there an easy to access list of all the animation nodes to be able to call them from a script?

[2021-08-23 21:47] Telumire opened #1779 "[bug] [help wanted] [AN 2.2.2] Fatal error when adding the nodes "Create NlaStrip List" and "Combine NlaStrip List" in a NodeTree"
Hello,

I was trying to get NLA data (is that even possible ?) but the available nodes that seems related to that ("Create NlaStrip List", "Combine NlaStrip List") are generating a fatal error (red rectangle in the Animation Nodes editor) once added in the node tree.

I'm using blender 3.0 .0 alpha and the latest version of the addon (2.2.2). This bug is also occuring in blender 2.93.3.

Does Anim

[2021-08-24 08:35] OmarEmaraDev commented on #1779
We don't really have support for NLA. Those nodes were left over from an old version which I removed now. Feel free to make a detailed proposal of what you would like to see in the Discussion -> Ideas tab and we will discuss a possible implementation.

[2021-08-24 08:35] #1779 closed

[2021-08-26 04:09] psypiens opened #1780 "Issue and Proposal: Animation Node L-Systems has a huge potential!"
Hello Jacques and Omar, first of all I want to thank you for making this amazing tool, I always enjoy working with it . In the last years I have been doing some research on L-Systems because I wanted to learn how to create generative plants, I explored the possibilities and limitations of different software that features L-System, like Touch Designer, Cinema 4D, and Blender, and found that your L-

[2021-08-30 02:35] FAUSheppy opened #1781 "L-System -> Mesh Object Output not working"
I tried this very simple L-System node setup:

![image](https://user-images.githubusercontent.com/14907292/131277122-0169c09d-42bc-4c09-89ba-d94172d02fd4.png)

But there is no output. I read through https://github.com/JacquesLucke/animation_nodes/issues/1115 and tried the alternative example from there.

I run 2.93.3 on linux and tried both animation nodes v2.2 & v2.3. I also tried on the same ble

[2021-08-30 07:35] OmarEmaraDev commented on #1781
Generations is set to 0, so the L-system isn't grown, try increasing that. Also, in the Mesh Object Output node, you can enable Calculate Loose Edges to show the edges in object mode.

[2021-08-30 22:49] psypiens commented on #1780
[https://www.dropbox.com/s/50sznagr8tc677y/lsystemissue.blend?dl=0](url)
Here is a sample file using two methods, in both I get the issue. Thanks you

[2021-08-30 23:00] Gerstmann-Bradley commented on #1780
I can't download the file, the link is not reachable.
If you are looking for growth, perhaps you want to try "find shortest path" node and trim spline afterwards.
Or maybe I understood you wrong about what you want.

[2021-08-31 07:12] OmarEmaraDev commented on #1780
The Edges output of the Lsystem is defined per edge. The radius of the splines per edge is expected to be per vertex. So you are mixing two different domains. A possible workflow is to take the average of the connect edges as follows:

![20210831-091036](https://user-images.githubusercontent.com/25300994/131459048-e882e90e-56cb-40d6-a777-50a9a6dfc287.png)

[2021-09-01 00:56] psypiens commented on #1780
Thanks you for the help !

[2021-09-01 02:04] psypiens commented on #1780
I tried it that way too, but it generates more geometry.

[2021-09-01 06:12] #1780 closed

[2021-09-01 14:27] Laurenthenrydavid opened #1782 "ARM version 2,2,2"
Hi there,
(excuse my English, I'm French) I 've tried to achieve a tutorial with a part including Animation Nodes :
https://youtu.be/NGV5GDMz6oA?t=1197
but I had a problem when I connected the Locations of the "Object Transforms Input" node to the Location of "Evaluate Falloff" node : it add automatically a "Get List Element" Node that is not appearing in the tutorial and I don't know what to do w

[2021-09-01 14:38] OmarEmaraDev commented on #1782
Did you enable the *Use List* option that is beside the evaluation type?

[2021-09-01 16:23] Laurenthenrydavid commented on #1782
I'm afraid I don't understand your question ?
![Animation node](https://user-images.githubusercontent.com/89923693/131707834-8971cbc6-ed1a-45a9-a41f-4c3718de3739.jpg)

[2021-09-01 16:27] Gerstmann-Bradley commented on #1782
![image](https://user-images.githubusercontent.com/55994236/131708379-a2a3430e-dd85-4b93-a30f-006fc3f9da53.png)
He means to hit this buttom

[2021-09-01 16:28] Gerstmann-Bradley commented on #1782
![image](https://user-images.githubusercontent.com/55994236/131708519-d05d289d-2bd6-4744-971b-c320508126c5.png)
He means to hit this button

[2021-09-01 16:53] Laurenthenrydavid commented on #1782
Thank you very much !!!
Now it works perfectly !!!
It's my fault ! I didn't see when he check that box in the tutorial !

[2021-09-01 21:24] #1782 closed

[2021-09-03 14:42] Gerstmann-Bradley opened #1783 "Bad Performance of certain nodes due to many group nodes"
Original Post: https://github.com/3DSinghVFX/animation_nodes/issues/175
A sample file is provided.
[BAD PERFORMANCE TEST.zip](https://github.com/JacquesLucke/animation_nodes/files/7106615/BAD.PERFORMANCE.TEST.zip)

It's common for user to make group nodes / loop nodes as presets.
Normally these nodes won't impact the performance at all.
Nevertheless I find viewport fps being extremely low in certa

[2021-09-06 14:36] StiveP opened #1784 "Problem with AN used with rigid bodies"
Hi,
I am doing an animation where I need some cells to look like they float.
I thought I could do it with AN, so I first tested it with an group of cubes that I have put together in a collection. I followed some tutorials on using some vector wiggle node and object transform output. It works well at first but then because I don't want the objects to intersect, I added rigid body to the cubes, and

[2021-09-06 14:38] OmarEmaraDev commented on #1784
You can zip the blend file and attach the zip file here.

[2021-09-06 14:53] StiveP commented on #1784
[Wiggle animation.zip](https://github.com/JacquesLucke/animation_nodes/files/7116695/Wiggle.animation.zip)

[2021-09-06 15:01] Gerstmann-Bradley commented on #1784
I would say it's generally not recommend for you to use rigid body.
If you are doing a active rigid body simulation, it's kind of contradictory to control their transform at the same time. Because objects can't follow the rule of physics while following your command to do its transform. Thus, this is kind of bad idea.

To avoid intersection:
In extra nodes there's a "close packing" node that can h

[2021-09-06 15:05] StiveP commented on #1784
Thanks, I will have a look.
I was just looking for an easy way to slowly move a lot of objects randomly as if they were floating, without having them intersect. Using F-curves and noise modifiers on a lot of objects seems like it would take for ever so I thought maybe AN.
I will try what you suggest, but if you have any better idea, I'll be happy to try too.
Thanks

[2021-09-06 15:44] StiveP commented on #1784
Actually, one strange thing is that even if I remove rigid body everywhere in my attached file, it seems the animation does not reset so  wonder if there is another issue. I pressed on "execute node tree", and enabled "always", but when I play the animation, nothing happens. Why is that? I actually downloaded and re-installed the add-on from your link.

[2021-09-06 16:28] StiveP commented on #1784
I tried the close packing node by putting it between the "vector wiggle" and the "object transform output" nodes and tried changing the parameters but it does not seem to do anything. I'm sorry I'm very new to AN, so I probably didn't get it correctly.

[2021-09-06 17:49] Gerstmann-Bradley commented on #1784
it would be better if you can show a screenshot of your setup. Which setting have you used for close packing node?
Generally it will be something like this, if you are using "relaxation" method and object transform output.
![image](https://user-images.githubusercontent.com/55994236/132249983-cef83654-946c-4aa7-88fb-c97691df83ee.png)

If you are using dynamic radius method, you shouldn't use the ve

[2021-09-06 21:39] StiveP commented on #1784
For some reason when I put the close packing node, it automatically adds a create vector list and a get list elements as below:
![Capture d’écran 2021-09-06 233819](https://user-images.githubusercontent.com/54776106/132261838-975714fd-5a60-4296-9fc6-bb005b30582a.png)

[2021-09-06 21:40] StiveP commented on #1784
I don't want to create instances but only move objects that are already made (in my final file I have different cells and bacteria that I want to be floating around slowly)

[2021-09-06 21:47] Gerstmann-Bradley commented on #1784
You don't need a loop. remove it. and hit the button pointed by my yellow arrow.
![image](https://user-images.githubusercontent.com/55994236/132261958-964f4886-8c2a-4093-a6df-ac6fd129b8b0.png)

Whatever I showed is just an example. I never meant that you should copy my node tree 100% percent. After all, it's your work and your responsibility. Plus, I only want to call your attention on the setting

[2021-09-06 21:47] StiveP commented on #1784
On this set up, the "vector wiggle" moves the cubes (that are in the collection), but the close packing (set to "relaxation") does not do anything. ANd I can't connectit like you did without it automatically adding the 2 extra nodes

[2021-09-06 21:50] Gerstmann-Bradley commented on #1784
You have that 2 extra nodes because you are doing things wrong. As I said, you don't need a loop node, remove it totally. and hit the button as I pointed.

[2021-09-06 21:50] StiveP commented on #1784
When I remove the loop, and click that list button, nothing works anymore. I provided the blender file above.

[2021-09-06 21:52] Gerstmann-Bradley commented on #1784
I mean, you have to do the connection without the loop node.
and removing the loop node is your first step. I can connect everything without the loop node, then you should be able to do so as well.
![image](https://user-images.githubusercontent.com/55994236/132262328-f6513f8d-d220-4b5c-8e27-1cf00c3c40f8.png)

[2021-09-06 22:19] StiveP commented on #1784
I see. It looks like it's better. I'll play with the parameters and see what I can get. Thanks

[2021-09-07 09:54] lzli3s opened #1785 "AN v2.2 error on blender 2.93 linux"
AN on blender 2.93.4 Ubuntu 18.04 works unstable(Install > restart blender AN works okay > restart blender AN does not work anymore)
Logs from blender:
Exception in module unregister(): '/home/ubuntu/.config/blender/2.93/scripts/addons/animation_nodes/__init__.py'
Traceback (most recent call last):
  File "/home/ubuntu/app/blender/2.93/scripts/modules/addon_utils.py", line 438, in disable
    mod.

[2021-09-07 10:34] OmarEmaraDev commented on #1785
This is a harmless error as far as I know, which we have't found the cause to yet. How does it not work exactly?

[2021-09-07 11:45] lzli3s commented on #1785
After installing AN V2.3 It works now. Thanks.

[2021-09-07 11:45] #1785 closed

[2021-09-10 14:00] youmcheck opened #1786 "v2.2.2 not working on centos 7.9 with blender 2.93.x"
Hi,
enable animation nodes result return this error:

_Traceback (most recent call last):
  File "/usr/local/blender-2.93.2-circus/2.93/scripts/modules/addon_utils.py", line 351, in enable
    mod = __import__(module_name)
  File "/mnt/W_Workgroups/workgroups/REZ/blender_third_party/animation_nodes/2.2.2/addon/animation_nodes/__init__.py", line 166, in <module>
    auto_load.init()
  File "/mnt/W_

[2021-09-10 14:58] OmarEmaraDev commented on #1786
Did you build AN yourself or download a build?

[2021-09-10 17:40] youmcheck commented on #1786
hi, Yes we compil ourself blender as with the release makefile provide by blender and the library or centos7 provide d by blender too. we only compile separatly the bpy modul for pyrhon.thanks for quick reply,ArnaudLe 10 sept. 2021 16:58, Omar Emara ***@***.***> a écrit :
Did you build AN yourself or download a build?

—You are receiving this because you authored the thread.Reply to this email dir

[2021-09-10 17:42] OmarEmaraDev commented on #1786
I was talking about Animation Nodes. Do you build Animation Nodes yourself?

[2021-09-10 19:20] OmarEmaraDev commented on #1786
See #1692.

[2021-09-12 14:06] luckychris opened #1787 "Error when installing AN for Blender 3.0 on Mac"
i got this error here:

![image](https://user-images.githubusercontent.com/232549/132990737-872cb6b2-07ec-446e-80f1-1b881307a8ef.png)

I downloaded AN from here: https://animation-nodes.com/#download

Question: should it run for Blender 3.0 or should i get another version?

[2021-09-12 15:31] OmarEmaraDev commented on #1787
I feel like this was wrong installation. Can you try removing the add-on explicitly and reinstalling it?

[2021-09-13 07:57] youmcheck commented on #1786
no we do not compile animation node ourselfLe 10 sept. 2021 19:42, Omar Emara ***@***.***> a écrit :
I was talking about Animation Nodes. Do you build Animation Nodes yourself?

—You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or unsubscribe.Triage notifications on the go with GitHub Mobile for iOS or Android.

[2021-09-13 08:36] OmarEmaraDev commented on #1786
The builds we have on the website will likely not work with CentOS, so you will have to build it yourself, possibly using a newer  compiler toolchain because the CentOS compiler is too old to compile Animation Nodes.

[2021-09-13 16:58] youmcheck commented on #1786
ok I will try to recompil thanks for reply,bestLe 13 sept. 2021 10:36, Omar Emara ***@***.***> a écrit :
The builds we have on the website will likely not work with CentOS, so you will have to build it yourself, possibly using a newer  compiler toolchain because the CentOS compiler is too old to compile Animation Nodes.

—You are receiving this because you authored the thread.Reply to this email d

[2021-09-14 01:39] #1751 closed

[2021-09-14 01:39] #1771 closed

[2021-09-14 10:19] luckychris commented on #1787
i tried and got this:

![image](https://user-images.githubusercontent.com/232549/133240402-2cf146e2-38e7-4468-9bd1-2c1630397ea6.png)

[2021-09-14 11:19] OmarEmaraDev commented on #1787
Can you open Blender from the command line and paste the output here?

[2021-09-14 12:22] luckychris commented on #1787
yes i can:

MacOS % ./Blender
Read prefs: /Users/c/Library/Application Support/Blender/3.0/config/userpref.blend
DEBUG:BlenderGIS-225.core.checkdeps:GDAL Python binding unavailable
DEBUG:BlenderGIS-225.core.checkdeps:PyProj unavailable
DEBUG:BlenderGIS-225.core.checkdeps:Pillow available
DEBUG:BlenderGIS-225.core.checkdeps:ImageIO Freeimage plugin available
cmolcore imported with success! v1.12
sv

[2021-09-14 12:55] OmarEmaraDev commented on #1787
This doesn't seem to include any AN related logging. I am interested in the output when you enable AN and it fails.

[2021-09-14 13:01] luckychris commented on #1787
I am sorry Omar. You are right. I started now Blender from the command line for Blender 3.0 and for Blender 2.93. Both installations worked now. I have no idea why. Sorry for bothering you.

[2021-09-14 13:01] #1787 closed

[2021-09-15 04:47] starzar opened #1788 "FloatList to TextList?"
Is there a way to convert a round a FloatList to 'n' decimal places and display all list values in 3dViewport?

Currently single value conversion is only allowed with **Float to Text** and TextObjectOutput accepts only single values.

I would like to display **_'all values'_** of the Floatlist as separate text objects  in 3dViewport.

**ATTEMPT 1_FloattoText**
'**![bandicam 2021-09-15 10-12-06-108

[2021-09-15 07:44] OmarEmaraDev commented on #1788
Implemented in 7162885. Thanks for the suggestion!

[2021-09-15 07:44] #1788 closed

[2021-09-15 09:02] starzar commented on #1788
@OmarEmaraDev  Thanks...Is there a way to display the entire list as separate text objects (TextObjectOutput accepts only single values)?

[2021-09-15 09:23] OmarEmaraDev commented on #1788
I am pretty sure the Text Object Output node accepts lists. Just try plugging it in and it should work.

[2021-09-17 05:52] starzar commented on #1788
Plz refer above node setup -  **_ATTEMPT 2_ TextObjectOutput**

TextObjectOutput outputs only a single list element.

[2021-09-17 05:56] OmarEmaraDev commented on #1788
@starzar You need to use the object instance node to create the objects first. See:
https://docs.animation-nodes.com/tutorials/decompose_text/

[2021-09-18 09:03] starzar opened #1789 "TextSequenceOutput not accepting the Text Sequence Name"
ANv2.2.2_Windows10

TextSequenceOutput is not accepting the Text Sequence Name.

(Also is it possible to export keyframed AN_Text from Vse with this method ?)

![antext_vse](https://user-images.githubusercontent.com/38550930/133883260-27b0ff93-0656-4fef-8b31-7cdc325becb8.gif)

[2021-09-18 09:40] OmarEmaraDev commented on #1789
Seems to be working here. Can you open Blender from the terminal and see if there is any error messages printed when you try to select?

[2021-09-18 09:43] OmarEmaraDev commented on #1789
And do you have multiple scenes in this file?

[2021-09-18 11:13] starzar commented on #1789
Yes ...one dedicated for VSE and others for 3D-Objects.
Is that an isssue?

[2021-09-18 12:43] OmarEmaraDev commented on #1789
The Sequence socket selector inspects the scene specified by the node tree. So if the node tree specified scene A and the sequence exists in scene B, it will not be accessible.

Depending on the scene sensitivity of your setup, you can just change the node tree scene in the N menu.

[2021-09-26 17:31] #1775 closed

[2021-09-28 14:22] 3DSinghVFX opened #1792 "Custom Attribute does not load for object has modifiers"
Hi.
I have noticed that *Custom Attributes* only load in the Input Mesh Object node if the object modifiers are disabled in the panel:
![Screenshot from 2021-09-28 19-45-59](https://user-images.githubusercontent.com/30294746/135105969-f0a72cc9-09a0-4196-b16c-a19e588aa4af.png)

Otherwise, it shows error when they are enabled in the panel:
![Screenshot from 2021-09-28 19-46-14](https://user-images.g

[2021-09-29 09:01] OmarEmaraDev commented on #1792
I can replicate, I will look into it later.

[2021-10-02 09:03] OmarEmaraDev commented on #1792
Fixed in cf8def5. Thanks for the report!

[2021-10-02 09:03] #1792 closed

[2021-10-02 13:06] L33t-HAXXOR commented on #1740
Yes I believe I have
That makes that blank menu pop up

[2021-10-02 21:04] SkelatorIndy opened #1793 "Bevel Object Option Not Working"
I was following a tutorial using Animation Nodes and it shows adding an object into the **Bevel Object** option in the **Curve Object Output** node. In the comments the creator said they made an issue on the GitHub page regarding this, which I found to be issue #1608.
Looking at the issue, it says it is closed, however the only comment on the issue is a link to a commit regarding adding the **Beve

[2021-10-02 21:08] OmarEmaraDev commented on #1793
Can you share a minimal file that reproduces the problem?

[2021-10-02 21:09] SkelatorIndy commented on #1793
Sure. Give me just a bit to set up a new blender file with just the stuff I have so far, since the one I'm working on contains a bunch of other models too.

[2021-10-02 21:11] Gerstmann-Bradley commented on #1793
I can replicate it. Omar, it's just the bevel object is again broken somehow.
I am not using the newest AN though, I will download it and try again.
[BUG REPORT.zip](https://github.com/JacquesLucke/animation_nodes/files/7272234/BUG.REPORT.zip)

[2021-10-02 21:19] Gerstmann-Bradley commented on #1793
yeah, seems still broken in the newest AN.

[2021-10-02 21:21] OmarEmaraDev commented on #1793
You need to set the bevel mode to `OBJECT`, it is set to `ROUND` by default.

![20211002-232104](https://user-images.githubusercontent.com/25300994/135732081-3f14bfdf-2188-4ebe-916b-d4e96a2f970a.png)

[2021-10-02 21:23] Gerstmann-Bradley commented on #1793
oh, I see. thanks.

[2021-10-02 21:23] SkelatorIndy commented on #1793
Ah, it's working now. Thanks for the quick response!

[2021-10-02 21:25] #1793 closed

[2021-10-03 10:57] GoldenAdrien commented on #1240
so for whatever reason, my animation nodes got corrupted somehow, and now when I try and re install it after removing the old version, it doesn't let me and gives me this error
<img width="663" alt="Screen Shot 2021-10-03 at 3 56 26 AM" src="https://user-images.githubusercontent.com/42684395/135750621-9bc0d44d-2a17-4225-8ec6-b64db0e76d1c.png">
:

[2021-10-03 11:38] GoldenAdrien commented on #1240
so I re installed blender, and got the latest build, but now it says that it isn't made for my operating system, even though it is a Mac build and I am using a MacBook Air:
<img width="806" alt="Screen Shot 2021-10-03 at 4 37 13 AM" src="https://user-images.githubusercontent.com/42684395/135751995-b3c340e9-f6c0-42fb-a6f7-9b4d7b1dfc54.png">

[2021-10-03 11:59] OmarEmaraDev commented on #1240
@GoldenAdrien That's probably because that build is for x86 Mac. You need an Arm build for the M1 Mac. There is an official arm build here: https://animation-nodes.com/#download

[2021-10-03 21:15] GoldenAdrien commented on #1240
What is weird is that it was working until it randomly corrupted yesterday

[2021-10-04 18:18] gerroon opened #1794 "animation_nodes.problems.ExecutionUnitNotSetup"
Hi

I set up a simple network and this is what I get. It seems to me at some point it crashed and pressing "retry" does not do anything.

![blender_bbkRI51EwL](https://user-images.githubusercontent.com/8519469/135903311-bc79d755-ac53-4d24-9ce7-e4c5a315f6b8.jpg)

[code]

[code]

[2021-10-04 18:24] OmarEmaraDev commented on #1794
Can you reliably reproduce the issue in a new file?

[2021-10-04 19:18] gerroon commented on #1794
No not directly. I will report if I can

[2021-10-06 17:42] #1781 closed

[2021-10-17 13:48] dentex opened #1795 "[Question] How to have the Rigid Body Constraint of an Animation Nodes's Empty, point to other instances instead of the original objects?"
I know the question might be a bit convoluted, so I'll try to explain here what I'm doing.

I'm using Blender 2.93.5 and Animation Nodes 2.3.0.

I want to realize, in 3D, an equalizer-style audio visualization, where each frequency bar tip has a smaller item bouncing on top; something like this:

[![eq-example][1]][1]

I have the working version without bouncing tips...

[![v1][2]][2]

...and I ha

[2021-10-17 14:52] #1795 closed

[2021-10-23 05:46] gerroon opened #1797 "AN cant access the vertex group"
Hi

I am using 2.3.0 on Windows 10 x64, Blender 2.93.5 For some reason AN is complaining that the mesh does not have a certain vertex group, even though it does. Please see the image. The vgroup clearly exists.

![blender_u7EwSq74zX](https://user-images.githubusercontent.com/8519469/138544281-7ae65011-968f-4bd0-8528-282592a924cb.jpg)

[2021-10-24 01:08] #1786 closed

[2021-10-29 09:00] meikasahara opened #1798 "UI related Question: Colored wires in Animation Nodes"
Could Animation Nodes also use the newly introduced colored wires based on data type that are now default in geometry nodes and the shader editor?

[2021-10-29 20:51] OmarEmaraDev commented on #1798
The newly introduced colored wires unfortunately don't support custom socket colors, it just uses whatever colors in `std_node_socket_colors`. So this is a limitation in Blender, not Animation Nodes. I will look into adding support though, I will get back to you.

[2021-10-29 21:32] OmarEmaraDev commented on #1798
Seems to be working. Not sure if they will accept such a patch though. We can try to submit it regardless.

![20211029-233131](https://user-images.githubusercontent.com/25300994/139504027-5cb61ce3-728c-4360-914a-fc199ff7510b.png)

[2021-10-30 02:33] adamliuio opened #1799 "Suspected Millisecond Bug"
https://user-images.githubusercontent.com/9758779/139517316-f16198bf-fd90-4b38-aee1-e5764ff49f00.mov

I'm using the "v2.2 for Blender 2.93 LTS (AMD64)" version, and whenever a node is created, there's a millisecond indicator showing up in the upper left corner and keeps bouncing very fast, which doesn't help at all and spikes the cpu usage quite a bit.

Is this a bug or a setting that can be adjus

[2021-10-30 09:30] OmarEmaraDev commented on #1799
In version 2.2, Animation Nodes by default executes as many times as possible indefinitely, which is not good as you might have noted. The Auto Execution panel includes the options to disable this and enable better modes of execution. Read the documentation on Execution for more information. https://docs.animation-nodes.com/documentation/introduction/execution/

[2021-10-30 09:30] #1799 closed

[2021-11-02 15:47] meikasahara commented on #1798
Seems the patch is about to land! I will therefore close this issue! Thanks!

[2021-11-12 07:59] #1794 closed

[2021-11-15 18:57] mrberns opened #1803 "Can't enable Animation Nodes (Mac)"
The error message is below, I'm having this issue on my M1 Mac mini (Monterey 21.0.1) with AN+EN 2.30 Mac OS.

(This one: https://blender.community/c/graphicall/phbbbc/)

I've attempted the suggested troubleshooting steps such as completely removing prior versions, and also tried different builds of Blender including 2.93 and 3.0 Beta.

The AN only version 2.2 seems to install fine, but I need to

[2021-11-15 20:09] OmarEmaraDev commented on #1803
As far as I know, Extra Nodes don't build ARM builds for the M1 Mac, so yes, that's the issue.
The reason why we don't have ARM builds available is that our build bots don't support them yet.
For the 2.2 release, however, the people from Asahi Linux were kind enough to provided us with a build.
So you will have to build it yourself or wait until we are able to use M1 Mac runners.

[2021-11-15 20:09] #1803 closed

[2021-11-15 23:25] mrberns commented on #1803
Thank you for clarifying that

[2021-11-15 23:30] stillpointx opened #1804 "Generating 3D Hilbert curve Fractal using L-systems"
I'm trying to create a connected / joined 3D Hilbert curve.  I want to animated it's growth pattern.  I'm using AN L-Systems but I'm **having issues connecting the line joints fully** and **converting L-systems fully to AN L-systems.**

I'm following / trying to recreate this:
https://math.stackexchange.com/questions/123642/representing-a-3d-hilbert-curve-as-an-l-system

![image](https://user-imag

[2021-11-16 04:20] #1804 closed

[2021-11-16 15:06] Justiniscoding opened #1806 "Cant find the right installer for 2.79"
I am using blender 2.79.7 and I cannot find the right installer for animation nodes. I can not upgrade my blender version due to my OS. If I use the [animation_nodes_v2_1_macOS_py36.zip](https://github.com/JacquesLucke/animation_nodes/releases/download/v2.1_testbuilds_2/animation_nodes_v2_1_macOS_py36.zip) installer it tells me there is a python version mismatch and that my blender build uses vers

[2021-11-16 15:36] OmarEmaraDev commented on #1806
I don't think we have a version for 2.7x Python 3.7. So you will have to compile yourself.

For compiling, make sure Cython is installed, checkout the source code at the [`v2.0` tag](https://github.com/JacquesLucke/animation_nodes/tree/v2.0), then execute in the source directory:

[code]

[2021-11-16 16:18] Justiniscoding commented on #1806
I have python version 3.7 installed and when I run that command I get the following error:
[code]
After that, I tried running this command: `python setup.py --export --noversioncheck` and it succeeded after a few minutes

[2021-11-16 16:18] #1806 closed

[2021-11-18 12:25] meikasahara commented on #1798
Reopening since the issue has resurfaced. It has also been reported to Blender:
https://developer.blender.org/T93184

[2021-11-19 14:05] #1798 closed

[2021-11-21 19:39] luckychris opened #1807 "LSystem works weird"
I just tried out LSystem with the Jacques tutorial, but i got this:

![image](https://user-images.githubusercontent.com/232549/142776483-51a5fdc8-dc51-47a3-9e12-7b4fbeda4a6e.png)

AN version:

![image](https://user-images.githubusercontent.com/232549/142776504-24d58ff3-9b7d-41ce-a60f-53b7c610837b.png)

Blender 3.0b

[2021-11-21 19:41] #1807 closed

[2021-11-29 11:06] OmarEmaraDev commented on #1694
Implemented in [D13386](https://developer.blender.org/D13386). Thanks for the suggestion!

[2021-11-29 11:06] #1694 closed

[2021-11-29 20:57] OmarEmaraDev commented on #1783
Can you still replicate this issue?

[2021-11-29 21:02] Gerstmann-Bradley commented on #1783
Yes on 3.0 beta and the newest AN+EN.

[2021-11-30 20:56] OmarEmaraDev commented on #1783
@Gerstmann-Bradley  Can you test #1808?

[2021-12-01 12:24] Durman commented on #1694
I have a question, is it possible now muting custom nodes? I mean is it possible to draw internal links between input and output sockets when the nodes is muted?

[2021-12-01 12:43] OmarEmaraDev commented on #1694
@Durman Yes, that's what this patch does. Muting custom nodes will now draw the internals links and the internal links will be available through the API in `Node.internal_links`. Though we haven't added support for muting in Animation Nodes yet.

![20211201-144116](https://user-images.githubusercontent.com/25300994/144236516-a8f70d3a-b577-4ed6-a0b5-d989ce9d5aed.png)

[2021-12-01 18:02] Durman commented on #1694
Cool, it really works though not in exact way which would be expected in Sv.
![2021-12-01_21-29-33](https://user-images.githubusercontent.com/28003269/144285238-356b800f-20db-402b-898e-597b4ad87bff.png)
I really appreciate you contribution into Custom nodes on Blender side. It's a pitty that Blender devs don't have enough time to implement new UI features for Custom nodes too though even if the am

[2021-12-01 18:53] OmarEmaraDev commented on #1694
@Durman Yes, it only takes the socket type as part of its heuristic. Ideally, nodes should be able to override their own internal links. Jacques hinted in [f5dde382](https://developer.blender.org/rBf5dde382af8078a2e5265e7d6710df7cb1b320a0) that we should do that in the future. So this situation should get better.

Getting wide sockets shouldn't be difficult, however, note that in Blender, this all

[2021-12-02 04:20] Durman commented on #1694
Multiple input for one input socket is not a problem now. There is [link limit attribute](https://docs.blender.org/api/3.0/bpy.types.NodeSocket.html#bpy.types.NodeSocket.link_limit) which determines possible number of connected links. The problem with this is that connected links to such sockets are unordered. So we have to use repeating last socket approach (like in Group input and Group output n

[2021-12-02 09:22] OmarEmaraDev commented on #1694
@Durman I created a patch in [D13449](https://developer.blender.org/D13449).

[2021-12-02 11:15] Durman commented on #1694
So easy? I wish I could know C++ and Blender internals so well. Thanks! Do you think adding socket description in Custom nodes would be same easy? 😊

[2021-12-02 12:10] Gerstmann-Bradley commented on #1783
Sorry to respond late, I was busy these days.
The issue can only be proven to be resolved using either Extra Nodes or Bluefox Extension.
In this case since our artifact doesn't contain Extra Nodes, I can only check it with bluefox's disc cache node in his extension.
the short answer is our artifact seemingly **doesn't improve** anything.

Note, I was testing an experimental version he provided to

[2021-12-02 18:22] #1797 closed

[2021-12-03 12:33] OmarEmaraDev commented on #1694
@Durman I am not sure, I didn't realize sockets can have a description. I am look into it after that patch is in.

[2021-12-03 17:51] Durman commented on #1694
It works only in Geometry nodes now and not for all sockets as far as I know. To see the tip the cursor should be rest on a socket.
![image](https://user-images.githubusercontent.com/28003269/144649158-64f5032c-6c2c-45f4-8f8f-8a85942d016e.png)

[2021-12-04 08:26] OmarEmaraDev commented on #1783
@Gerstmann-Bradley At least by looking at the disk cache node by @harisreedhar, the problem is that some class properties are updated inside the execution function and at the same time use `AnimationNode.refresh` as an update function. That means that every single execution will trigger Animation Nodes to recompute every internal structure it have. So execution have a very large overhead.

We coul

[2021-12-04 09:21] harisreedhar commented on #1783
@OmarEmaraDev Thanks for pointing me about the overhead. I'll look into that

[2021-12-04 10:21] Gerstmann-Bradley commented on #1783
I see. I'm not sure how this new fix will impact simulation node in extra nodes. At least this is what really matters for me about this issue. I guess we can commit this fix and see how things are finally improved in AN+EN? @3DSinghVFX

[2021-12-06 17:31] Gerstmann-Bradley opened #1809 "BUG: No Linkage is Formed when the node being put in between"
![image](https://user-images.githubusercontent.com/55994236/144893451-6113e35d-0292-41f8-a59f-47ec6c3a89f5.png)
FYI

[2021-12-07 08:00] OmarEmaraDev commented on #1809
This was fixed already in https://developer.blender.org/rBab2a7aa0da81678b19e3362b93f89e8302da65d8. Didn't go into the 3.0 release unfortunately.

[2021-12-07 08:00] #1809 closed

[2021-12-09 05:00] Th3Gavst3r opened #1810 "All Action conversions fail with NameError"
## Description
When attempting to convert an Action socket, the Node Tree will error with the message `NameError: name 'Action' is not defined`

## To reproduce
1. Create an Empty and add an Action to it
1. Create an `Action from Object` node in the Animation Nodes editor
1. Attach the `Action` output socket to a `Convert` node
1. Change the conversion type to `Action`
1. `NameError` occurs

![ima

[2021-12-09 09:24] OmarEmaraDev commented on #1810
Thanks for the detailed report! Your solution seems correct. Do you want to create a pull request for that or would you like me commit?

For the failed conversion, Animation Nodes doesn't really try to correct complex types that are not part of Animation Nodes. So conversion of BPY Action to AN Action, while possible, is expected to fail. But I guess we could look into more elaborate conversions a

[2021-12-09 11:59] fabricatedmath opened #1811 "Add Velocity to Evaluate MIDI Track Node"
It would be great to have

[2021-12-09 15:01] OmarEmaraDev commented on #1811
Maybe we should return the index of the note instead for more flexibility.

[2021-12-09 16:37] Th3Gavst3r commented on #1810
Sure I just opened up #1812, just wanted to double check what direction you wanted to take before putting up a solution

[2021-12-09 17:03] fabricatedmath commented on #1811
That might work better idk, maybe the lookups will be slow?

Maybe something to keep in mind also is the new MIDI MPE standard. Typically, as you might know, pitch bend applies to the entire channel (that wobbly thing on the side of a keyboard piano). MPE has a separate note per channel, so you can get pitch bend, after touch, etc... for each note individually.

Maybe knowing there's eventually go

[2021-12-09 19:31] #1810 closed

[2021-12-09 22:28] Th3Gavst3r opened #1813 "Object Action Output nodes fail with SyntaxError for Action inputs with named attributes"
## Description
When an `Action` contains keyframes for a path with a user-named component (such as keyframes on a Custom Property), inputting it to an `Object Action Output` results in a `SyntaxError`.

## To reproduce
1. Create an Empty and give it a Custom Property with any name.
2. Create an Action on your Empty and insert a keyframe for your Custom Property.
3. Open the Animation Nodes editor

[2021-12-10 10:57] #1813 closed

[2021-12-10 22:37] Th3Gavst3r opened #1815 "Actions with Custom Property curves always use Float values"
## Description
After support for Custom Properties was added to `Actions` in #1814, the `Object Action Output` node always overwrites Custom Property types with `Float`. Doing so removes other configuration items from the Custom Property, such as `Min` and `Max` values.

![image](https://user-images.githubusercontent.com/9059018/145648462-040e1c39-d6ef-4519-bad2-8bd72e385275.png)

## To reproduce

[2021-12-14 11:35] luckychris opened #1817 "number wiggle result values outside the interval..."
Docu says:
Amplitude - It is the maximum possible value for the absolute of the output number.
https://docs.animation-nodes.com/documentation/nodes/number/number_wiggle/

i have this node setup to check the results of number wiggle:
![image](https://user-images.githubusercontent.com/232549/145990942-c81cea43-ec91-4abf-8861-2e6f9fab8c95.png)

So the resulting max and min of node wiggle is outside [

[2021-12-14 11:49] OmarEmaraDev commented on #1817
Looks like the documentation is wrong here, especially when you have a high number of octaves. Not sure if this is something we can guarantee.

[2021-12-14 12:17] luckychris commented on #1817
ok thank you for your very fast answer. So i am not too dumb... ;)

[2021-12-14 12:18] #1817 closed

[2021-12-18 16:40] pr0jectile opened #1818 "Collection objects not sorted / indexed the way they are ordered in the outliner"
What am I doing here?

I've followed the guide on the MIDI documentation page but it doesn't seem to work properly.

<img width="1570" alt="Screenshot 2021-12-18 at 4 34 55 pm" src="https://user-images.githubusercontent.com/12081053/146648682-415c690e-3da7-4ef8-b235-b85d0d8aeb67.png">

[2021-12-19 13:23] OmarEmaraDev commented on #1783
Fixed in 27a3c66.

[2021-12-19 13:23] #1783 closed

[2021-12-27 19:55] fabricatedmath opened #1820 "Evaluate MIDI Track overlapping envelope issue, add a "re-trigger" toggle"
Just as an example, If you have a midi file in 4/4 with 4 consecutive C4 quarter notes and a non-zero attack, the value of the note resets to 0 before again rising in accordance with the interpolation of the attack. This is probably a good behavior to keep. However, if you map this value to a blender midi keyboard for example, the key jumps impossibly fast down before rising again. This behavior c

[2021-12-28 07:36] OmarEmaraDev commented on #1820
I actually did wounder how this case of overlapping notes should be handled, I think adding an advanced option to choose the target behavior is reasonable and can be implemented.

[2021-12-30 16:39] fabricatedmath commented on #1820
Great!

I might be able to work on this, I've never really done dev in python, but maybe I can stumble through it.

A couple questions, is there a rule in animation nodes that values are computed as demanded? If I plug frame number into evaluate midi track, with a retrigger, the only state required is the start and end time of the active note. Without retrigger, the state necessary can be many not

[2021-12-30 18:34] OmarEmaraDev commented on #1820
@fabricatedmath It is okay to do pre-evaluation caching in Animation Nodes, so we may do that. However, I would say that caching might not be worth it if the performance benefit is not significant, which might be the case since MIDI evaluation is already relatively fast. Moreover, note that frame numbers can be floats, which makes caching anything with them as keys less ideal.

If you are looking

[2021-12-30 20:47] fabricatedmath commented on #1820
Oh good to know frame number is a float I didn't realize that.

I guess we could cache the note value at each noteoff message seeing as that point should already store the state from all overlapped noteon messages before it, and then interpolate from there. But i'd bet that would be pretty easy to add after the code can evaluate the whole sequence up to frame N anyway.

Also, whats the workflow fo

[2021-12-30 20:57] OmarEmaraDev commented on #1820
@fabricatedmath In the source directory of Animation Nodes, create a `conf.json` file that points to the add-on directory of your Blender build as follows:
[code]
Then execute the build setup script with the `--copy` flag as follows:
[code]
Every time you change a file, you execute the above command and the add-on will be copied to Blender. Though you have to restart Blender for changes to take ef

[2021-12-31 08:58] #1815 closed

[2022-01-17 16:38] KonSwart opened #1821 "Tempo Track of Midi Nodes of Animation Nodes are not properly taken into account."
Hi!

When I saw that Animation Nodes was extended with midi capabilities, I was very excited!

FINALLY I could use midi in Bender!

I used it in the following video.

https://youtu.be/VHCbmKka58w

However, when I tried to use it in a Blender version of this:

https://youtu.be/GaDvGbixwz0?t=147

It messed up the timing completely. The end notes were all over the place! They were shifted far to the

[2022-01-17 16:52] OmarEmaraDev commented on #1821
Can you share the problematic MIDI file?

[2022-01-17 16:57] KonSwart commented on #1821
Here it is.

The problem starts with measure 34.03, all through the end.

From: Omar Emara ***@***.***>
Sent: Monday, 17 January 2022 17:53
To: JacquesLucke/animation_nodes ***@***.***>
Cc: KonSwart ***@***.***>; Author ***@***.***>
Subject: Re: [JacquesLucke/animation_nodes] Tempo Track of Midi Nodes of Animation Nodes are not properly taken into account. (Issue #1821)

Can you share the problema

[2022-01-17 17:07] KonSwart commented on #1821
This problem has prevented me from making YouTube tutorials, showing how one can make midi animations like the Alla Turca with Animation Nodes.

I know that there are many people interested in such tutorials, because I have received requests and questions about how to make such videos.

The video of the problematic file has been made, not by Animation Nodes, but in Unity.

I have made the Alla Tur

[2022-01-17 17:53] OmarEmaraDev commented on #1821
I can't see that file anywhere. You need to upload it to Github not through email.

[2022-01-17 17:59] KonSwart commented on #1821
I try again.

I tried it through GitHub, but the 'Attach files by dragging & dropping selecting or pasting them' failed.

So, how do I do that?

[2022-01-17 17:59] KonSwart commented on #1821
I am completely new to GitHub.

[2022-01-17 18:02] KonSwart commented on #1821
Next attempt.

How do I upload from GitHub?

From: Omar Emara ***@***.***>
Sent: Monday, 17 January 2022 18:54
To: JacquesLucke/animation_nodes ***@***.***>
Cc: KonSwart ***@***.***>; Author ***@***.***>
Subject: Re: [JacquesLucke/animation_nodes] Tempo Track of Midi Nodes of Animation Nodes are not properly taken into account. (Issue #1821)

I can't see that file anywhere. You need to upload it t

[2022-01-17 18:05] KonSwart commented on #1821
I try again through e-mail, and compress the file.

Maybe THAT will work!

How do I upload through GitHub?

The box: 'Attach file by dragging & dropping selecting or pasting them' does not work!

It says: We don't support that file type.

I tried it with midi, and compressed to a rar format.

[2022-01-17 18:06] KonSwart commented on #1821
I tried again, through e-mail, but now compressed with a rar format.

Did it arrive now?

[2022-01-17 18:09] KonSwart commented on #1821
I have changed the extension of .mid to .jpg, and tried again.

If it arrives, try to change it back to .mid

![No01BWV846Prelude - Copy](https://user-images.githubusercontent.com/24935129/149819623-70406ec8-609b-425d-b23e-fcfc870a769d.jpg)

[2022-01-17 18:14] KonSwart commented on #1821
I have tested it, by downloading it from the link, and then changing the extension to .mid

With me it was working, because I could open the midi file in Sonar, and the problematic tempo changes were there.

Here it is, again.

![No01BWV846Prelude - Copy](https://user-images.githubusercontent.com/24935129/149820069-2f5a9ec2-fbc0-4b25-bc07-d32899eada67.jpg)

[2022-01-17 19:42] OmarEmaraDev commented on #1821
Okay. I got the file. I can see there is a delay at the very end indeed. I am not immediately sure what is causing that. It might take sometime to investigate that.

[2022-01-17 21:47] KonSwart commented on #1821
Great that you look at it!

The problem is in the tempo track. The changes in the tempo track are not taken into account in the timing of the midi events.

Usually that is no problem, because most musicians use realtime recordings, so that there is just one tempo command in the entire file. But I work in steptime. Therefore I edit the tempo, after I have made the midi file.

If you could solve THI

[2022-01-17 22:19] KonSwart commented on #1821
Please, let me know if, and when you have solved it.

Also, please let me know when you cannot do it!

[2022-01-18 21:13] OmarEmaraDev commented on #1821
Fixed in 836773b. Thanks for the report!

[2022-01-18 21:13] #1821 closed

[2022-01-19 04:57] KonSwart commented on #1821
Wow! That was fast!

Thank you very much!

I shall test it tomorrow!

From: Omar Emara ***@***.***>
Sent: Tuesday, 18 January 2022 22:14
To: JacquesLucke/animation_nodes ***@***.***>
Cc: KonSwart ***@***.***>; Author ***@***.***>
Subject: Re: [JacquesLucke/animation_nodes] Tempo Track of Midi Nodes of Animation Nodes are not properly taken into account. (Issue #1821)

Fixed in  <https://github.com

[2022-01-20 20:42] Axyom opened #1822 "[POSSIBLE BUG] Float list transformed to Float"
Hi,

I've encountered a problem while trying to follow this tutorial : https://www.youtube.com/watch?v=GkG6OpWpDKQ

It seems that I follow all the steps, but my nodes keep creating a create node list when I try to connect a loop to other nodes.
Here are the screenshots depicting the situation :
![image](https://user-images.githubusercontent.com/32022099/150418682-b2760407-1f64-4d02-9a80-0036dae36a

[2022-01-31 11:57] luckychris opened #1826 "animation nodes for python 3.10"
![image](https://user-images.githubusercontent.com/232549/151789821-ad2c8b25-98a9-47b7-b6d1-36737f6841f7.png)

can please somebody create a build of animation nodes version with python 3.9.10?

[2022-01-31 12:33] luckychris commented on #1826
i tried to compile it on my own, but i got this error:

/Users/chris/Downloads/animation_nodes-master/animation_nodes/nodes/vector/vector_math.c:12089:61: error: implicit declaration of function '__Pyx_RaiseUnexpectedTypeError' is invalid in C99 [-Werror,-Wimplicit-function-declaration]
    if (!(likely(PyDict_CheckExact(o))||((o) == Py_None) || __Pyx_RaiseUnexpectedTypeError("dict", o))) __PYX_ER

[2022-01-31 14:26] harisreedhar commented on #1826
@luckychris What OS are you using? Is blender updated to python 3.10.x?

[2022-01-31 14:39] luckychris commented on #1826
oh, sorry:

![image](https://user-images.githubusercontent.com/232549/151813249-1e73c58c-62ff-44b8-8787-0426eef26604.png)

[2022-01-31 14:39] luckychris commented on #1826
Blender 3.1 and Blender 3.2

[2022-01-31 15:12] harisreedhar commented on #1826
I think you have to build yourself for m1 mac.
For linux this is the procedure i use. It was working fine for blender 3.2
[code]

[2022-01-31 16:07] luckychris commented on #1826
thank you very much for your instruction. In the last step i got:

/Users/chris/Downloads/animation_nodes-master/animation_nodes/nodes/vector/vector_math.c:12089:61: error: implicit declaration of function '__Pyx_RaiseUnexpectedTypeError' is invalid in C99 [-Werror,-Wimplicit-function-declaration]
    if (!(likely(PyDict_CheckExact(o))||((o) == Py_None) || __Pyx_RaiseUnexpectedTypeError("dict", o)

[2022-01-31 18:38] OmarEmaraDev commented on #1826
What version of Cython did you install? We build using `0.29`, so it could be that you are using a higher version.
We now daily build for 3.10 3f16a29. But as mentioned above, Github doesn't support Mac ARM runners at the moment, so you will have to compile that on your own.

[2022-01-31 19:09] luckychris commented on #1826
Cython version 0.29.25

[2022-01-31 19:47] OmarEmaraDev commented on #1826
Are you sure it is that version? Because that symbol was only added in the 3.0 release in https://github.com/cython/cython/pull/3693.

[2022-02-01 06:49] luckychris commented on #1826
yes, i think so...here is a screenshot

![image](https://user-images.githubusercontent.com/232549/151924383-bc832a62-1785-43da-87e4-d467721d303e.png)

[2022-02-01 15:59] meikasahara commented on #1826
When attempting to build on linux (Ubuntu 20.04.3 LTS) I get the following error:

error: command '/usr/bin/x86_64-linux-gnu-gcc' failed with exit code 1

Note: python3.10-dev is already installed.
A similar error appears when attempting to compile through a python 3.10 conda environment.

[2022-02-01 17:41] OmarEmaraDev commented on #1826
@luckychris What is the first line in `animation_nodes/animation_nodes/nodes/vector/vector_math.c`?

@meikasahara Can you attach the full error log?

[2022-02-01 17:54] meikasahara commented on #1826
These are the compile messages after the command
`python setup.py build --export --noversioncheck`

[error_compile_log.txt](https://github.com/JacquesLucke/animation_nodes/files/7980796/error_compile_log.txt)

[2022-02-03 12:33] LionGartGithubPage opened #1827 "Branch python 3.10 issue. Animation node crash when try adding curve interpolation."
Hello there, I have been using the new Python Animation Node update. This issue only comes up with this version. Blender crash every time I try to add Curve Interpolation and I can't find solution to this. Would really appreciate the help.

[2022-02-03 19:15] OmarEmaraDev commented on #1827
Can confirm, crashes somewhere in `ED_node_tree_propagate_change`. We will see if we can make a minimal reproducible version to report it.

[2022-02-04 03:57] LionGartGithubPage commented on #1827
@OmarEmaraDev Is there anything I can do to help? Do I need to share more info about the issue? or this is up to the maker to take notice and recreate the the issue? or this animation node is community based. I am still bit confused about it?

[2022-02-04 06:18] OmarEmaraDev commented on #1827
This is most likely an issue in Blender and needs to be reported to them, however, reports that require an add-on as big as Animation Nodes are usually not ideal, so we need to find a way to make the problem appear in a small file first in order to report it. So there is likely nothing you can help with at the moment, I will take it from here.

[2022-02-04 16:13] LionGartGithubPage commented on #1827
I also just  find a error when using the script node. It just register it as an error. and would not run the node. I guess for me the script node is a bigger issue. Since it one of the most important one for me.

[2022-02-04 17:05] LionGartGithubPage commented on #1827
So are you the developer of animation node or part of blender team? I am just curious. I know there will be issue when upgrading and it will take time. So just want to understand how the issue will be handled and the current situations. Would the addon be fixed or Blender be fixed?

[2022-02-04 20:28] OmarEmaraDev commented on #1827
@LionGartGithubPage What is the error in the script node? I am working on both.

@JacquesLucke Can you take a look at this? Seems to be caused by your refactor of the node tree update in `D13246`.
When Animation Nodes adds the helper curve node, the `id` in the `SpaceNode` we get from the context is null, so we get a crash as follows:
[code]
It should be noted that that space node seems to be Anim

[2022-02-07 05:50] LionGartGithubPage commented on #1827
Sorry for the late reply. I don't really understand what you meant by the refactor node tree update. Is it couse by the update always toggle? my node tree?  or it is more a backside thing. I do try to run the script node error again and get this from the console:

Traceback (most recent call last):
  File "C:\Users\lionga\AppData\Roaming\Blender Foundation\Blender\3.1\scripts\addons\animation_node

[2022-02-07 17:01] OmarEmaraDev commented on #1827
@LionGartGithubPage Sorry about that, I was talking to Jacques in the second paragraph. We are looking into the issue.

[2022-02-07 17:37] #1827 closed

[2022-02-09 09:57] LionGartGithubPage commented on #1827
@OmarEmaraDev hello there. Is this means the issue is resolved? for the script dan the curve interpolation. And where I can find this 3.1 version? is it a blender update or Animation Node update?

[2022-02-09 17:52] OmarEmaraDev commented on #1827
@LionGartGithubPage  Yes. It is a Blender update that will be release around March 9. But you can download a beta build from here:
https://builder.blender.org/download/daily/

[2022-02-15 12:30] luckychris commented on #1826
ok, i found out, that it took the "old" python version and the right command should be:

python3.10 setup.py build --export --noversioncheck

unfortunately than i got this:
Cython is not installed for this Python version.

although i downloaded the latest cython version. Do you have any hint for me?

[2022-02-15 17:23] luckychris commented on #1826
ok, after deinstalling cython and installing again, i made it, that it compiles....but with this error now:

/Users/chris/Downloads/animation_nodes-master/animation_nodes/nodes/vector/vector_math.c:12089:61: error: implicit declaration of function '__Pyx_RaiseUnexpectedTypeError' is invalid in C99 [-Werror,-Wimplicit-function-declaration]
    if (!(likely(PyDict_CheckExact(o))||((o) == Py_None) ||

[2022-02-15 17:36] luckychris commented on #1826
OMG...i made it. with the newest cython and the newest animation nodes download...it finally worked. sorry for bothering you.

[2022-02-15 17:36] #1826 closed

[2022-02-19 16:36] #1578 closed

[2022-02-20 09:36] mikeew commented on #1826
@luckychris I'm running a similar setup:
Apple Silicon M1
MacOS Monterey 10.2.1
Blender 3.1 (and 3.2) for M1
Python 3.10
Cython 0.29.28
Animation Nodes 2.3

I've run the following commands:

[code]

All commands complete successfully (apart from a few warnings)

When I install the created zip file and enable the add-on I get the following error:

Any ideas? Can you upload your zip file?

Warnings

[2022-02-20 10:35] OmarEmaraDev commented on #1826
@mikeew Those seems like harmless warnings, there is probably an actual error somewhere, can you try to find it and attach it here?

[2022-02-20 12:22] mikeew commented on #1826
The only error text I could find is encapsulated in a warning, I've attached the whole compile process as I'm not sure what is going on. Appreciate your help!

[animation_nodes.txt](https://github.com/JacquesLucke/animation_nodes/files/8103956/animation_nodes.txt)

[2022-02-20 12:43] OmarEmaraDev commented on #1826
@mikeew The log seems okay. Does it prints any trace when saying "This build does not work at the moment."?

[2022-02-20 17:27] luckychris commented on #1826
@mikeew : First i have to say i am not an expert with cython and compiling things....i just made it work for me.

i just this command:

python3.10 setup.py build --export --noversioncheck

and this worked for me after i installed the newest cython version and downloaded the newest version of animation nodes from here. i will append my zip file, hopefully it works for you too.

[2022-02-21 00:34] Mehdianim commented on #1700
I am trying it on Blender 3.0. It installs alright but when I click the checkbox to activate it I get this error message:
![image](https://user-images.githubusercontent.com/45181118/154871721-4e637fb4-1279-4b1e-8d75-f068c963c0e4.png)
I am not sure how to compile manually. Is there a build available for Windows 10 ?

[2022-02-21 05:54] OmarEmaraDev commented on #1700
@Mehdianim Check the py39 builds here https://github.com/JacquesLucke/animation_nodes/releases/tag/master-cd-build.

[2022-02-23 00:04] AwesomeGuy74623 opened #1828 "Python mismatch"
It says that there is a Python mismatch even though I reinstalled the addon and got the correct version or Python and Blender. So how do I get a custom build or fix it?

- OS: Windows
- Blender 3.0.1

[2022-02-23 06:44] OmarEmaraDev commented on #1828
What does the error message say about the version mismatch?
Which version of Animation Nodes did you download?

[2022-02-24 09:37] TheJeran opened #1829 "Can someone compile a py310 build for windows?"
I would like to use AN for Blender 3.1 but of course Blender 3.1 uses python 3.10. I'm not smart enough to compile it myself. I saw someone had compiled a version for MacOS in another issue and was wondering if someone would be so kind to do the same for Windows.

[2022-02-24 16:13] OmarEmaraDev commented on #1829
The builds we have in the website are already Python 10, do they not work for you?
https://animation-nodes.com/#download

[2022-02-24 22:56] TheJeran commented on #1829
Agh, my dumbass was downloading the v2.2 And didn't realize the "latest' Was different from the 2.2 here on github. Thanks

[2022-02-24 22:56] #1829 closed

[2022-02-27 15:25] mike2003 commented on #1828
I'm in the same situation. what to do with this error? It doesn't work with 3?
![a8wkE6D](https://user-images.githubusercontent.com/11754198/155888528-6826355f-3867-48b7-a0ed-4fa1baed7648.jpg)

[2022-02-27 16:12] OmarEmaraDev commented on #1828
@mike2003  I am guessing you are downloading a daily build, not the LTS release. In this case, download the py39 versions from here https://github.com/JacquesLucke/animation_nodes/releases/tag/master-cd-build.

[2022-03-05 18:24] jackhumbert opened #1830 "Proposal: Get Sequence from Scene By Name"
I have a workflow for making videos where I edit Scenes/clips together in a separate Scene (like `_Editing`), and I made a quick node to grab a Sequence from that Scene, to get info like the start & ending of the clip, and use that timing information in my Scene's animations:

[code]

Would this sort of node be acceptable to add, or maybe there could be a Scene selection on the `Sequence Info` nod

[2022-03-05 20:53] OmarEmaraDev commented on #1830
We already have a general Blend Data By Name node that does something similar, so adding this node would be good and inline with what we have already. Feel free to open a pull request.

We should probably use `sequences_all` to include sequences in meta strips as well. Both `sequences_all` and `sequences` are `bpy_prop_collection`, which behaves like a dictionary and can be subscribed using the na

[2022-03-06 20:42] ilionic commented on #1828
Would be possible to publish new version compiled for python 3.10 ( the one Blender 3.1 expecting ) for ARM mac? Thanks

[2022-03-06 21:40] OmarEmaraDev commented on #1828
@ilionic We don't have access to an Arm Mac at the moment, so we won't publish official builds unless Github supports M1 runners,

[2022-03-06 21:42] ilionic commented on #1828
@OmarEmaraDev thanks for speedy reply. I will try to compile it from source myself then.

[2022-03-10 23:14] uraniumcrystalsmaster opened #1831 "Can't enable add-on"
I upgraded blender to 3.1, and downloaded animation nodes for python 3.10. It used to work before.
This is the error message I get:

Traceback (most recent call last):
  File "D:\SteamLibrary 2.0\steamapps\common\Blender\3.1\scripts\modules\addon_utils.py", line 351, in enable
    mod = __import__(module_name)
  File "C:\Users\urani\AppData\Roaming\Blender Foundation\Blender\3.1\scripts\addons\ani